/* No files to import found in variables/* */
/* No files to import found in abstractions/* */
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@font-face {
  font-family: 'pnb';
  src: url("../fonts/pnb");
  src: url("../fonts/pnb.eot") format("embedded-opentype"), url("../fonts/pnb.woff") format("woff"), url("../fonts/pnb.ttf") format("truetype"), url("../fonts/pnb.svg#pnb") format("svg"); }
html {
  font-size: 16px;
  font-family: sans-serif; }

body {
  background-color: #f2fafe;
  margin: 0; }

.l-region--header,
.l-main,
.l-footer {
  max-width: 1360px;
  margin: 0 auto; }

.l-branding {
  display: inline-block;
  width: 100%;
  background: #f2f2f2;
  box-shadow: #e0e7eb 0px 3px 5px 5px;
  margin-bottom: 10px; }
  .l-branding .l-region--branding {
    max-width: 1360px;
    margin: 0 auto; }

.pane-page-site-name h1 {
  text-align: center;
  font-size: 37px;
  font-family: 'pnb';
  font-weight: 600;
  margin-top: 0.5em;
  margin-bottom: 0; }
  .pane-page-site-name h1 a {
    text-decoration: none;
    color: #0355a3; }

.pane-page-slogan h2 {
  text-align: center;
  color: #2c2c2c;
  font-size: 29px;
  font-family: 'pnb';
  font-weight: 600;
  margin: 10px 0; }

#block-superfish-1 {
  display: inline-block;
  float: right; }
  #block-superfish-1 #superfish-1 {
    position: initial; }
    #block-superfish-1 #superfish-1 li {
      padding: 0; }
      #block-superfish-1 #superfish-1 li.active a {
        background: #fff;
        text-decoration: none;
        color: #1894c7; }
      #block-superfish-1 #superfish-1 li a {
        color: #262626;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        font-weight: 600;
        padding: 16px 20px;
        text-transform: uppercase;
        position: relative;
        top: 0px;
        text-decoration: none; }
        #block-superfish-1 #superfish-1 li a:hover, #block-superfish-1 #superfish-1 li a:focus {
          background: #fff;
          text-decoration: none;
          color: #1894c7; }
        #block-superfish-1 #superfish-1 li a i {
          margin-right: 3px; }

#block-system-user-menu {
  float: left; }
  #block-system-user-menu ul.menu {
    margin: 0;
    padding: 0; }
    #block-system-user-menu ul.menu li {
      list-style: none;
      float: left; }
      #block-system-user-menu ul.menu li a {
        display: block;
        color: #262626;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        font-weight: 600;
        padding: 16px 20px;
        text-transform: uppercase;
        position: relative;
        top: 0px;
        text-decoration: none; }
        #block-system-user-menu ul.menu li a:hover, #block-system-user-menu ul.menu li a:focus {
          background: #fff;
          text-decoration: none;
          color: #1894c7; }
        #block-system-user-menu ul.menu li a[href*='login'] {
          background: #1894c7;
          color: white; }
        #block-system-user-menu ul.menu li a i {
          margin-right: 3px; }

/*# sourceMappingURL=bwmassoc-omega.styles.css.map */