/* No files to import found in variables/* */
/* No files to import found in abstractions/* */
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto");
html {
  font-size: 16px;
  font-family: sans-serif; }

body {
  background-color: #f2fafe;
  margin: 0; }

.l-region--header,
.l-main,
.l-footer {
  max-width: 1360px;
  margin: 0 auto; }

.l-branding {
  display: inline-block;
  width: 100%;
  background: #f2f2f2;
  box-shadow: #e0e7eb 0px 3px 5px 5px;
  margin-bottom: 10px; }
  .l-branding .l-region--branding {
    max-width: 1360px;
    margin: 0 auto; }

h1 {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold; }

h2 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold; }

h3 {
  display: block;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold; }

h4 {
  display: block;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold; }

h5 {
  display: block;
  font-size: .83em;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold; }

h6 {
  display: block;
  font-size: .67em;
  margin-top: 2.33em;
  margin-bottom: 2.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold; }

#block-block-3 p {
  display: inline-block;
  width: 100%; }
#block-block-3 .copyright {
  color: #181818;
  font-size: 13px;
  font-family: 'Open Sans';
  margin: 0;
  float: left; }
#block-block-3 .footer-links {
  float: right;
  font-size: 13px;
  font-family: 'Open Sans'; }
  #block-block-3 .footer-links a {
    color: #0355a3;
    font-size: 13px;
    font-family: 'Open Sans';
    text-decoration: underline; }

.pane-page-site-name h1 {
  text-align: center;
  font-size: 37px;
  font-family: 'Raleway';
  font-weight: 600;
  margin-top: 0.5em;
  margin-bottom: 0; }
  .pane-page-site-name h1 a {
    text-decoration: none;
    color: #0355a3; }

.pane-page-slogan h2 {
  text-align: center;
  color: #2c2c2c;
  font-size: 29px;
  font-family: 'pnb';
  font-weight: 600;
  margin: 10px 0; }

#bbblogo a#bbblink {
  display: block;
  overflow: hidden;
  width: 82px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  height: 132px; }
  #bbblogo a#bbblink:hover {
    width: 107px;
    background-color: white;
    border: 1px solid #035a78;
    border-radius: 10px; }
  #bbblogo a#bbblink img:hover {
    margin-left: -82px; }

#wwm-collapse-3 .left-column > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; }
  #wwm-collapse-3 .left-column > div .pane-block-4 {
    width: 130px; }
#wwm-collapse-3 .right-column .share-us .pane-title {
  text-align: center;
  margin-bottom: 0;
  font-size: 18px; }
#wwm-collapse-3 .right-column .share-us p {
  margin: 3px;
  font-size: 14px;
  color: grey; }
#wwm-collapse-3 .right-column #widgets-element-socialmedia_share-default {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  margin: 0 auto; }
  #wwm-collapse-3 .right-column #widgets-element-socialmedia_share-default .widgets-element a {
    display: block;
    height: 32px;
    margin: 2px; }
#wwm-collapse-3 a#logo {
  display: block;
  margin-top: 10px; }
  #wwm-collapse-3 a#logo img {
    height: 132px; }

ul.quicktabs-tabs {
  margin: 0;
  padding: 0;
  margin-bottom: -1px; }
  ul.quicktabs-tabs li {
    padding: 0; }
    ul.quicktabs-tabs li a {
      border-top-left-radius: 5px;
      border-top-right-radius: 24px;
      color: #fff;
      font-family: "Roboto";
      font-size: 17px;
      font-weight: 500;
      padding: 12px 10px;
      display: inline-block;
      text-decoration: none;
      position: relative;
      padding-right: 13px;
      border-bottom: 1px solid #c1c1c1; }
      ul.quicktabs-tabs li a:after {
        content: " ";
        position: absolute;
        top: -1px;
        width: 23px;
        background-color: inherit;
        border-radius: 0 12px 0 0;
        border-bottom: 1px solid #c1c1c1;
        -webkit-transform: skew(24deg);
                transform: skew(24deg);
        right: -13px;
        z-index: 1;
        height: 46px; }
    ul.quicktabs-tabs li:first-child a {
      background: #57a63d;
      border: 1px solid #57a63d;
      border-bottom: 1px solid #c1c1c1; }
    ul.quicktabs-tabs li:nth-child(2) a {
      background: #0792cd;
      border: 1px solid #0792cd;
      border-bottom: 1px solid #c1c1c1; }
    ul.quicktabs-tabs li:nth-child(3) a {
      background: #ec1f27;
      border: 1px solid #ec1f27;
      border-bottom: 1px solid #c1c1c1; }
    ul.quicktabs-tabs li:nth-child(4) a {
      background: #33a6d7;
      border: 1px solid #33a6d7;
      border-bottom: 1px solid #c1c1c1; }
    ul.quicktabs-tabs li:nth-child(5) a {
      background: #0355a3;
      border: 1px solid #0355a3;
      border-bottom: 1px solid #c1c1c1; }
    ul.quicktabs-tabs li.active a {
      background-color: white;
      color: black;
      border: 1px solid #c1c1c1;
      border-bottom: 1px solid white;
      z-index: 2; }
      ul.quicktabs-tabs li.active a:after {
        border: 1px solid #c1c1c1;
        border-left: 0;
        border-bottom: 0;
        z-index: 2; }

#quicktabs-container-bwmassoc_home_page {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #c1c1c1; }
  #quicktabs-container-bwmassoc_home_page hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee; }
  #quicktabs-container-bwmassoc_home_page article[about="/dare-to-compare"] .field--name-body {
    width: calc((100% / 3) * 2);
    display: inline-block; }
  #quicktabs-container-bwmassoc_home_page article[about="/dare-to-compare"] .field--name-field-featured-image {
    width: calc(100% / 3);
    display: inline-block;
    height: 100%;
    position: relative; }
    #quicktabs-container-bwmassoc_home_page article[about="/dare-to-compare"] .field--name-field-featured-image .field__items {
      position: absolute;
      bottom: -25px; }
      #quicktabs-container-bwmassoc_home_page article[about="/dare-to-compare"] .field--name-field-featured-image .field__items img {
        width: 100%; }
  #quicktabs-container-bwmassoc_home_page article[about="/dare-to-compare"] img[alt="Compare Home"] {
    float: left; }
  #quicktabs-container-bwmassoc_home_page article[about="/dare-to-compare"] .text-info ul {
    margin: 0;
    padding: 0; }
    #quicktabs-container-bwmassoc_home_page article[about="/dare-to-compare"] .text-info ul li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
  #quicktabs-container-bwmassoc_home_page article[about="/dare-to-compare"] .saved-nothing {
    color: #fff;
    font-size: 18px;
    font-family: 'Roboto';
    font-weight: 600;
    background: #ec1f27;
    padding: 9px 15px;
    border-radius: 75px;
    margin: 1em auto;
    display: table; }
  #quicktabs-container-bwmassoc_home_page article[about="/dare-to-compare"] .saved {
    color: #fff;
    font-size: 18px;
    font-family: 'Roboto';
    font-weight: 600;
    background: #00ad31;
    padding: 9px 15px;
    border-radius: 75px;
    margin: 1em auto;
    display: table; }
  #quicktabs-container-bwmassoc_home_page article[about="/dare-to-compare"] .calculate-savings {
    color: #fff;
    font-family: 'Roboto';
    font-weight: 600;
    background: #017cca;
    padding: 9px 15px;
    border-radius: 75px;
    margin: 1em auto;
    display: table;
    text-decoration: none; }
  #quicktabs-container-bwmassoc_home_page article[about="/dare-to-compare"] #conventional {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  #quicktabs-container-bwmassoc_home_page article[about="/dare-to-compare"] #supersaver {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

#block-superfish-3 {
  display: inline-block;
  float: right; }
  #block-superfish-3 ul.sf-menu-main-menu---bwmassoc {
    position: initial; }
    #block-superfish-3 ul.sf-menu-main-menu---bwmassoc li {
      padding: 0; }
      #block-superfish-3 ul.sf-menu-main-menu---bwmassoc li.active a {
        background: #fff;
        text-decoration: none;
        color: #1894c7; }
      #block-superfish-3 ul.sf-menu-main-menu---bwmassoc li a {
        color: #262626;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        font-weight: 600;
        padding: 16px 20px;
        text-transform: uppercase;
        position: relative;
        top: 0px;
        text-decoration: none;
        line-height: 1.5; }
        #block-superfish-3 ul.sf-menu-main-menu---bwmassoc li a:hover, #block-superfish-3 ul.sf-menu-main-menu---bwmassoc li a:focus {
          background: #fff;
          text-decoration: none;
          color: #1894c7; }
        #block-superfish-3 ul.sf-menu-main-menu---bwmassoc li a i {
          margin-right: 3px; }

#block-superfish-2 {
  float: left; }
  #block-superfish-2 ul.sf-menu-user-menu-bwmassoc {
    margin: 0;
    padding: 0; }
    #block-superfish-2 ul.sf-menu-user-menu-bwmassoc li {
      list-style: none;
      float: left; }
      #block-superfish-2 ul.sf-menu-user-menu-bwmassoc li a {
        display: block;
        color: #262626;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        font-weight: 600;
        padding: 16px 20px;
        text-transform: uppercase;
        position: relative;
        top: 0px;
        text-decoration: none;
        line-height: 1.5; }
        #block-superfish-2 ul.sf-menu-user-menu-bwmassoc li a:hover, #block-superfish-2 ul.sf-menu-user-menu-bwmassoc li a:focus {
          background: #fff;
          text-decoration: none;
          color: #1894c7; }
        #block-superfish-2 ul.sf-menu-user-menu-bwmassoc li a[href*='login'] {
          background: #1894c7;
          color: white; }
        #block-superfish-2 ul.sf-menu-user-menu-bwmassoc li a i {
          margin-right: 3px; }

/*# sourceMappingURL=bwmassoc-omega.styles.css.map */