/* No files to import found in ../variables/* */
/* Fluid Typography */
.page-node-12852 .radix-bryant .row {
  display: flex;
  flex-flow: row wrap;
  margin: 0;
}
.page-node-12852 .radix-bryant .row .radix-layouts-sidebar {
  order: 1;
  flex: 100%;
  padding: 0;
}
@media (min-width: 1024px) {
  .page-node-12852 .radix-bryant .row .radix-layouts-sidebar {
    order: 0;
    flex: 25%;
  }
}
.page-node-12852 .radix-bryant .row .radix-layouts-content {
  flex: 100%;
  padding: 0;
}
@media (min-width: 1024px) {
  .page-node-12852 .radix-bryant .row .radix-layouts-content {
    flex: calc(75% - 1em);
    padding-left: 1em;
  }
}
.page-node-12852 ul.quicktabs-tabs {
  margin: 0;
  padding: 0;
  margin-bottom: -1px;
  display: flex;
  flex-flow: row wrap;
  width: calc(100% - 17px);
}
.page-node-12852 ul.quicktabs-tabs li {
  padding: 0;
  margin-right: 5px;
  flex: 1 auto;
}
.page-node-12852 ul.quicktabs-tabs li a {
  border-top-left-radius: 5px;
  border-top-right-radius: 24px;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  padding: 12px 10px;
  display: inline-block;
  text-decoration: none;
  position: relative;
  padding-right: 13px;
  padding-left: 1em;
  border-bottom: 1px solid #c1c1c1;
  width: 100%;
  text-align: center;
  height: 47px;
}
.page-node-12852 ul.quicktabs-tabs li a:after {
  content: " ";
  position: absolute;
  top: -1px;
  width: 23px;
  background-color: inherit;
  border-radius: 0 12px 0 0;
  border-bottom: 1px solid #c1c1c1;
  transform: skew(24deg);
  right: -13px;
  z-index: 1;
  height: 47px;
}
@media (min-width: 748px) {
  .page-node-12852 ul.quicktabs-tabs li a {
    font-size: 14px;
    height: 43px;
  }
  .page-node-12852 ul.quicktabs-tabs li a:after {
    height: 43px;
  }
}
@media (min-width: 1169px) {
  .page-node-12852 ul.quicktabs-tabs li a {
    font-size: 17px;
    height: 47px;
  }
  .page-node-12852 ul.quicktabs-tabs li a:after {
    height: 47px;
  }
}
.page-node-12852 ul.quicktabs-tabs li:first-child a {
  background: #57a63d;
  border: 1px solid #57a63d;
  border-bottom: 1px solid #c1c1c1;
}
.page-node-12852 ul.quicktabs-tabs li:nth-child(2) a {
  background: #0792cd;
  border: 1px solid #0792cd;
  border-bottom: 1px solid #c1c1c1;
}
.page-node-12852 ul.quicktabs-tabs li:nth-child(3) a {
  background: #ec1f27;
  border: 1px solid #ec1f27;
  border-bottom: 1px solid #c1c1c1;
}
.page-node-12852 ul.quicktabs-tabs li:nth-child(4) a {
  background: #33a6d7;
  border: 1px solid #33a6d7;
  border-bottom: 1px solid #c1c1c1;
}
.page-node-12852 ul.quicktabs-tabs li:nth-child(5) a {
  background: #0355a3;
  border: 1px solid #0355a3;
  border-bottom: 1px solid #c1c1c1;
}
.page-node-12852 ul.quicktabs-tabs li.active a {
  background-color: white;
  color: black;
  border: 1px solid #c1c1c1;
  border-bottom: 1px solid white;
  z-index: 2;
}
.page-node-12852 ul.quicktabs-tabs li.active a:after {
  border: 1px solid #c1c1c1;
  border-left: 0;
  border-bottom: 0;
  z-index: 2;
}
.page-node-12852 #quicktabs-container-bwmassoc_home_page {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #c1c1c1;
}
.page-node-12852 #quicktabs-container-bwmassoc_home_page hr {
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}
.page-node-12852 #quicktabs-container-bwmassoc_home_page #quicktabs-tabpage-bwmassoc_home_page-0 .node__content {
  display: flex;
}
.page-node-12852 #quicktabs-container-bwmassoc_home_page #quicktabs-tabpage-bwmassoc_home_page-0 .field--name-body {
  flex: calc((100% / 3) * 2);
  display: inline-block;
  z-index: 2;
}
.page-node-12852 #quicktabs-container-bwmassoc_home_page #quicktabs-tabpage-bwmassoc_home_page-0 .field--name-body .field__item > h1 {
  margin-top: 0;
  width: 150%;
}
.page-node-12852 #quicktabs-container-bwmassoc_home_page #quicktabs-tabpage-bwmassoc_home_page-0 .field--name-body .field__item > h1 a {
  color: #0355a3;
  text-decoration: none;
}
.page-node-12852 #quicktabs-container-bwmassoc_home_page #quicktabs-tabpage-bwmassoc_home_page-0 .field--name-field-featured-image {
  flex: 1 45%;
  align-self: flex-end;
  z-index: 1;
}
.page-node-12852 #quicktabs-container-bwmassoc_home_page #quicktabs-tabpage-bwmassoc_home_page-0 .field--name-field-featured-image .field__items img {
  width: 100%;
  vertical-align: bottom;
}
.page-node-12852 #quicktabs-container-bwmassoc_home_page #quicktabs-tabpage-bwmassoc_home_page-0 img[alt="Compare Home"] {
  float: left;
}
@media (min-width: 1024px) {
  .page-node-12852 #quicktabs-container-bwmassoc_home_page #quicktabs-tabpage-bwmassoc_home_page-0 img[alt="Compare Home"] {
    width: 100%;
  }
}
.page-node-12852 #quicktabs-container-bwmassoc_home_page #quicktabs-tabpage-bwmassoc_home_page-0 .text-info {
  flex: 1;
}
.page-node-12852 #quicktabs-container-bwmassoc_home_page #quicktabs-tabpage-bwmassoc_home_page-0 .text-info ul {
  margin: 0;
  padding: 0;
}
.page-node-12852 #quicktabs-container-bwmassoc_home_page #quicktabs-tabpage-bwmassoc_home_page-0 .text-info ul li {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
}
.page-node-12852 #quicktabs-container-bwmassoc_home_page #quicktabs-tabpage-bwmassoc_home_page-0 .text-info ul li img {
  width: 20px;
}
@media (min-width: 1024px) {
  .page-node-12852 #quicktabs-container-bwmassoc_home_page #quicktabs-tabpage-bwmassoc_home_page-0 .text-info ul li {
    font-size: 18px;
  }
  .page-node-12852 #quicktabs-container-bwmassoc_home_page #quicktabs-tabpage-bwmassoc_home_page-0 .text-info ul li img {
    width: auto;
  }
}
@media (min-width: 1200px) {
  .page-node-12852 #quicktabs-container-bwmassoc_home_page #quicktabs-tabpage-bwmassoc_home_page-0 .text-info ul li {
    font-size: 24px;
  }
  .page-node-12852 #quicktabs-container-bwmassoc_home_page #quicktabs-tabpage-bwmassoc_home_page-0 .text-info ul li img {
    width: auto;
  }
}
.page-node-12852 #quicktabs-container-bwmassoc_home_page #quicktabs-tabpage-bwmassoc_home_page-0 #conventional h2,
.page-node-12852 #quicktabs-container-bwmassoc_home_page #quicktabs-tabpage-bwmassoc_home_page-0 #conventional h3,
.page-node-12852 #quicktabs-container-bwmassoc_home_page #quicktabs-tabpage-bwmassoc_home_page-0 #supersaver h2,
.page-node-12852 #quicktabs-container-bwmassoc_home_page #quicktabs-tabpage-bwmassoc_home_page-0 #supersaver h3 {
  margin: 0;
}
.page-node-12852 #quicktabs-container-bwmassoc_home_page #quicktabs-tabpage-bwmassoc_home_page-0 #conventional > .content,
.page-node-12852 #quicktabs-container-bwmassoc_home_page #quicktabs-tabpage-bwmassoc_home_page-0 #supersaver > .content {
  display: flex;
  align-items: center;
}
.page-node-12852 #quicktabs-container-bwmassoc_home_page #quicktabs-tabpage-bwmassoc_home_page-0 #conventional > .content > .media,
.page-node-12852 #quicktabs-container-bwmassoc_home_page #quicktabs-tabpage-bwmassoc_home_page-0 #supersaver > .content > .media {
  flex: 1;
}
.page-node-12852 #quicktabs-container-bwmassoc_home_page #quicktabs-tabpage-bwmassoc_home_page-0 #conventional > .content li p,
.page-node-12852 #quicktabs-container-bwmassoc_home_page #quicktabs-tabpage-bwmassoc_home_page-0 #supersaver > .content li p {
  margin: 0;
}
.page-node-12852 #quicktabs-container-bwmassoc_home_page #quicktabs-tabpage-bwmassoc_home_page-0 #cta1 {
  margin-bottom: 1em;
  padding: 0 1em;
  width: 100%;
  padding: 0 1em;
}
@media (min-width: 768px) {
  .page-node-12852 #quicktabs-container-bwmassoc_home_page #quicktabs-tabpage-bwmassoc_home_page-0 #cta1 {
    width: calc(152% - 2px);
    padding: 0 17%;
  }
}
.page-node-12852 #quicktabs-container-bwmassoc_home_page #quicktabs-tabpage-bwmassoc_home_page-0 #cta1 h1 {
  margin: 0;
}
.page-node-12852 #quicktabs-container-bwmassoc_home_page #quicktabs-tabpage-bwmassoc_home_page-0 #cta1 p {
  margin: 0;
}
.page-node-12852 #quicktabs-container-bwmassoc_home_page #quicktabs-tabpage-bwmassoc_home_page-0 .saved-nothing {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  background: #ec1f27;
  padding: 9px 15px;
  border-radius: 75px;
  margin: 1em auto;
  display: table;
  clear: both;
  margin-bottom: 0;
}
.page-node-12852 #quicktabs-container-bwmassoc_home_page #quicktabs-tabpage-bwmassoc_home_page-0 .saved {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  background: #00ad31;
  padding: 9px 15px;
  border-radius: 75px;
  margin: 1em auto;
  display: table;
  clear: both;
  margin-bottom: 0;
}
.page-node-12852 #quicktabs-container-bwmassoc_home_page #quicktabs-tabpage-bwmassoc_home_page-1 {
  padding: 0 1em;
}
.page-node-12852 #quicktabs-container-bwmassoc_home_page #quicktabs-tabpage-bwmassoc_home_page-1 .field--name-body .field__item > h1 {
  color: #0355a3;
}
.page-node-12852 #quicktabs-container-bwmassoc_home_page #quicktabs-tabpage-bwmassoc_home_page-1 .field--name-body p {
  font-size: 20px;
}
.page-node-12852 #quicktabs-container-bwmassoc_home_page #quicktabs-tabpage-bwmassoc_home_page-2 {
  padding: 0 1em;
}
.page-node-12852 #quicktabs-container-bwmassoc_home_page #quicktabs-tabpage-bwmassoc_home_page-2 .field--name-body .field__item > h1 {
  color: #0355a3;
}
.page-node-12852 #quicktabs-container-bwmassoc_home_page #quicktabs-tabpage-bwmassoc_home_page-2 .field--name-body p {
  font-size: 20px;
  font-family: FontAwesome, sans-serif;
}
.page-node-12852 #quicktabs-container-bwmassoc_home_page #quicktabs-tabpage-bwmassoc_home_page-2 .field--name-body .media {
  display: inline-block;
}
.page-node-12852 #quicktabs-container-bwmassoc_home_page #quicktabs-tabpage-bwmassoc_home_page-3 {
  padding: 0 1em;
}
.page-node-12852 #quicktabs-container-bwmassoc_home_page #quicktabs-tabpage-bwmassoc_home_page-3 .field--name-body .field__item > h1 {
  color: #0355a3;
}
.page-node-12852 #quicktabs-container-bwmassoc_home_page #quicktabs-tabpage-bwmassoc_home_page-3 .field--name-body p {
  font-size: 20px;
  font-family: FontAwesome, sans-serif;
}
.page-node-12852 #quicktabs-container-bwmassoc_home_page #quicktabs-tabpage-bwmassoc_home_page-3 .field--name-body tr:nth-child(even) {
  background-color: #eeeeee;
}
.page-node-12852 #quicktabs-container-bwmassoc_home_page #quicktabs-tabpage-bwmassoc_home_page-3 .field--name-body tr:hover {
  background-color: #ffffdc;
}
.page-node-12852 #quicktabs-container-bwmassoc_home_page #quicktabs-tabpage-bwmassoc_home_page-3 .field--name-body th {
  text-align: center;
  padding: 5px;
  background-color: #c0eaff;
}
.page-node-12852 #quicktabs-container-bwmassoc_home_page #quicktabs-tabpage-bwmassoc_home_page-3 .field--name-body td {
  padding: 10px;
  width: calc(100% / 3);
}

.bwmassoc-page .radix-bryant .row,
.node-type-bwmassoc-basic-page .radix-bryant .row,
.page-contact-bwma .radix-bryant .row,
.section-contact-bwmassoc .radix-bryant .row {
  display: flex;
  flex-flow: row wrap;
  margin: 0;
}
.bwmassoc-page .radix-bryant .row .radix-layouts-sidebar,
.node-type-bwmassoc-basic-page .radix-bryant .row .radix-layouts-sidebar,
.page-contact-bwma .radix-bryant .row .radix-layouts-sidebar,
.section-contact-bwmassoc .radix-bryant .row .radix-layouts-sidebar {
  order: 1;
  flex: 100%;
  padding: 0;
}
@media (min-width: 1024px) {
  .bwmassoc-page .radix-bryant .row .radix-layouts-sidebar,
  .node-type-bwmassoc-basic-page .radix-bryant .row .radix-layouts-sidebar,
  .page-contact-bwma .radix-bryant .row .radix-layouts-sidebar,
  .section-contact-bwmassoc .radix-bryant .row .radix-layouts-sidebar {
    order: 0;
    flex: 25%;
  }
}
.bwmassoc-page .radix-bryant .row .radix-layouts-sidebar .pane-uuid-0ca4c5ea-c6b6-4588-96a9-7a654351b5d9 .pane-title,
.node-type-bwmassoc-basic-page .radix-bryant .row .radix-layouts-sidebar .pane-uuid-0ca4c5ea-c6b6-4588-96a9-7a654351b5d9 .pane-title,
.page-contact-bwma .radix-bryant .row .radix-layouts-sidebar .pane-uuid-0ca4c5ea-c6b6-4588-96a9-7a654351b5d9 .pane-title,
.section-contact-bwmassoc .radix-bryant .row .radix-layouts-sidebar .pane-uuid-0ca4c5ea-c6b6-4588-96a9-7a654351b5d9 .pane-title {
  text-align: center;
  margin-bottom: 0;
}
.bwmassoc-page .radix-bryant .row .radix-layouts-sidebar .pane-uuid-0ca4c5ea-c6b6-4588-96a9-7a654351b5d9 .fieldable-panels-pane p,
.node-type-bwmassoc-basic-page .radix-bryant .row .radix-layouts-sidebar .pane-uuid-0ca4c5ea-c6b6-4588-96a9-7a654351b5d9 .fieldable-panels-pane p,
.page-contact-bwma .radix-bryant .row .radix-layouts-sidebar .pane-uuid-0ca4c5ea-c6b6-4588-96a9-7a654351b5d9 .fieldable-panels-pane p,
.section-contact-bwmassoc .radix-bryant .row .radix-layouts-sidebar .pane-uuid-0ca4c5ea-c6b6-4588-96a9-7a654351b5d9 .fieldable-panels-pane p {
  margin-top: 0;
  margin-bottom: 0;
}
.bwmassoc-page .radix-bryant .row .radix-layouts-sidebar #widgets-element-socialmedia_share-default,
.node-type-bwmassoc-basic-page .radix-bryant .row .radix-layouts-sidebar #widgets-element-socialmedia_share-default,
.page-contact-bwma .radix-bryant .row .radix-layouts-sidebar #widgets-element-socialmedia_share-default,
.section-contact-bwmassoc .radix-bryant .row .radix-layouts-sidebar #widgets-element-socialmedia_share-default {
  display: flex;
  justify-content: center;
}
.bwmassoc-page .radix-bryant .row .radix-layouts-sidebar #widgets-element-socialmedia_share-default .widgets-element,
.node-type-bwmassoc-basic-page .radix-bryant .row .radix-layouts-sidebar #widgets-element-socialmedia_share-default .widgets-element,
.page-contact-bwma .radix-bryant .row .radix-layouts-sidebar #widgets-element-socialmedia_share-default .widgets-element,
.section-contact-bwmassoc .radix-bryant .row .radix-layouts-sidebar #widgets-element-socialmedia_share-default .widgets-element {
  margin-right: 5px;
}
.bwmassoc-page .radix-bryant .row .radix-layouts-content,
.node-type-bwmassoc-basic-page .radix-bryant .row .radix-layouts-content,
.page-contact-bwma .radix-bryant .row .radix-layouts-content,
.section-contact-bwmassoc .radix-bryant .row .radix-layouts-content {
  flex: 100%;
  max-width: 100%;
  padding: 0;
}
@media (min-width: 1024px) {
  .bwmassoc-page .radix-bryant .row .radix-layouts-content,
  .node-type-bwmassoc-basic-page .radix-bryant .row .radix-layouts-content,
  .page-contact-bwma .radix-bryant .row .radix-layouts-content,
  .section-contact-bwmassoc .radix-bryant .row .radix-layouts-content {
    flex: calc(75% - 1em);
    padding-left: 1em;
  }
}
.bwmassoc-page .radix-bryant .row .pane-content-area-bwmassoc,
.node-type-bwmassoc-basic-page .radix-bryant .row .pane-content-area-bwmassoc,
.page-contact-bwma .radix-bryant .row .pane-content-area-bwmassoc,
.section-contact-bwmassoc .radix-bryant .row .pane-content-area-bwmassoc {
  padding: 0 1em;
}
.bwmassoc-page .pane-content-area-bwmassoc,
.node-type-bwmassoc-basic-page .pane-content-area-bwmassoc,
.page-contact-bwma .pane-content-area-bwmassoc,
.section-contact-bwmassoc .pane-content-area-bwmassoc {
  display: inline-block;
  width: 100%;
  background: #fff none repeat scroll 0 0;
  border: 1px solid #c1c1c1;
}
.bwmassoc-page .pane-content-area-bwmassoc .file-video,
.node-type-bwmassoc-basic-page .pane-content-area-bwmassoc .file-video,
.page-contact-bwma .pane-content-area-bwmassoc .file-video,
.section-contact-bwmassoc .pane-content-area-bwmassoc .file-video {
  text-align: center;
}
.bwmassoc-page .pane-node-title,
.bwmassoc-page .field--name-title-field,
.node-type-bwmassoc-basic-page .pane-node-title,
.node-type-bwmassoc-basic-page .field--name-title-field,
.page-contact-bwma .pane-node-title,
.page-contact-bwma .field--name-title-field,
.section-contact-bwmassoc .pane-node-title,
.section-contact-bwmassoc .field--name-title-field {
  text-align: center;
  color: #0355a3;
  text-decoration: none;
  width: 100%;
}
.bwmassoc-page .pane-node-title h1,
.bwmassoc-page .field--name-title-field h1,
.node-type-bwmassoc-basic-page .pane-node-title h1,
.node-type-bwmassoc-basic-page .field--name-title-field h1,
.page-contact-bwma .pane-node-title h1,
.page-contact-bwma .field--name-title-field h1,
.section-contact-bwmassoc .pane-node-title h1,
.section-contact-bwmassoc .field--name-title-field h1 {
  font-size: 24px;
  bottom-border: none;
  font-weight: 700;
  margin-bottom: 0em;
}
@media screen and (min-width: 400px) {
  .bwmassoc-page .pane-node-title h1,
  .bwmassoc-page .field--name-title-field h1,
  .node-type-bwmassoc-basic-page .pane-node-title h1,
  .node-type-bwmassoc-basic-page .field--name-title-field h1,
  .page-contact-bwma .pane-node-title h1,
  .page-contact-bwma .field--name-title-field h1,
  .section-contact-bwmassoc .pane-node-title h1,
  .section-contact-bwmassoc .field--name-title-field h1 {
    font-size: calc(24px + 8 * ((100vw - 400px) / 800));
  }
}
@media screen and (min-width: 1200px) {
  .bwmassoc-page .pane-node-title h1,
  .bwmassoc-page .field--name-title-field h1,
  .node-type-bwmassoc-basic-page .pane-node-title h1,
  .node-type-bwmassoc-basic-page .field--name-title-field h1,
  .page-contact-bwma .pane-node-title h1,
  .page-contact-bwma .field--name-title-field h1,
  .section-contact-bwmassoc .pane-node-title h1,
  .section-contact-bwmassoc .field--name-title-field h1 {
    font-size: 32px;
  }
}

.homepage main#main-content {
  background-color: transparent;
  padding: 0;
  border: 0;
  border-radius: 0;
}
.homepage hr {
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}
.homepage .pane-content-area-bwmassoc {
  display: flex;
  flex-flow: row wrap;
}
.homepage .radix-bryant .row .pane-content-area-bwmassoc {
  padding: 0;
  position: relative;
}
.homepage .pane-node-title {
  flex: 1 0 100%;
}
.homepage .pane-node-body {
  flex: 100%;
  display: inline-block;
  z-index: 2;
  padding: 0 1em;
}
@media (min-width: 768px) {
  .homepage .pane-node-body {
    flex: 0 66%;
    padding: 0;
  }
}
.homepage .pane-node-body .field__item > h1 {
  margin-top: 0;
  width: 150%;
}
.homepage .pane-node-body .field__item > h1 a {
  color: #0355a3;
  text-decoration: none;
}
.homepage .pane-node-field-featured-image,
.homepage .girl-on-phone {
  z-index: -1;
  right: 0;
  bottom: 0;
  position: absolute;
}
@media (min-width: 768px) {
  .homepage .pane-node-field-featured-image,
  .homepage .girl-on-phone {
    display: block;
  }
}
.homepage .pane-node-field-featured-image .field__items img,
.homepage .girl-on-phone .field__items img {
  width: 100%;
  vertical-align: bottom;
  height: auto;
}
.homepage .pane-node-field-featured-image {
  z-index: 0;
}
.homepage div[alt="Compare Home"] {
  max-width: 255px;
  flex: 1;
}
.homepage img[alt="Compare Home"] {
  float: left;
  width: 100%;
  height: auto;
}
@media (min-width: 1024px) {
  .homepage img[alt="Compare Home"] {
    width: 100%;
  }
}
.homepage .text-info {
  flex: 1 1 65%;
  display: flex;
  flex-flow: row wrap;
}
.homepage .text-info ul {
  margin: 0;
  padding: 0;
  flex: 100%;
}
.homepage .text-info ul li {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 2px;
}
.homepage .text-info ul li img {
  width: 20px;
  height: auto;
}
@media (min-width: 568px) {
  .homepage .text-info ul li {
    font-size: 18px;
  }
  .homepage .text-info ul li img {
    width: 24px;
  }
}
@media (min-width: 817px) {
  .homepage .text-info ul li {
    font-size: 24px;
  }
  .homepage .text-info ul li img {
    width: auto;
  }
}
.homepage #conventional h2,
.homepage #conventional h3,
.homepage #supersaver h2,
.homepage #supersaver h3 {
  margin: 0;
}
.homepage #conventional > .content,
.homepage #supersaver > .content {
  display: flex;
  align-items: center;
}
.homepage #conventional > .content > .media,
.homepage #supersaver > .content > .media {
  flex: 0 1 255px;
}
.homepage #conventional > .content li p,
.homepage #supersaver > .content li p {
  margin: 0;
  white-space: nowrap;
}
.homepage #cta1 {
  margin: 0.5em 0;
  padding: 0 1em;
  width: 100%;
  padding: 0 1em;
}
@media (min-width: 768px) {
  .homepage #cta1 {
    width: calc(152% - 2px);
    padding: 0 17%;
  }
}
.homepage #cta1 h2 {
  margin: 0;
}
.homepage #cta1 p {
  margin: 0;
}
.homepage .saved-nothing {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  background: #ec1f27;
  padding: 9px 15px;
  border-radius: 75px;
  margin: 1em auto;
  display: table;
  clear: both;
  margin-bottom: 0;
  border: solid #BDBDBD 1px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}
.homepage .saved-nothing:hover {
  background: #ce1d24;
  border: solid #BDBDBD 1px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5) inset;
}
.homepage .saved-nothing a {
  color: #fff;
}
.homepage .saved {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  background: #00ad31;
  padding: 9px 15px;
  border-radius: 75px;
  margin: 1em auto;
  display: table;
  clear: both;
  margin-bottom: 0;
  border: solid #BDBDBD 1px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}
.homepage .saved:hover {
  background: #028627;
  border: solid #BDBDBD 1px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5) inset;
}
.homepage .saved a {
  color: #fff;
}

.calculate-savings {
  color: #fff;
  font-weight: 600;
  background: #017cca;
  padding: 9px 15px;
  border-radius: 20px;
  margin: 0 0 0.5em 0;
  display: table;
  text-decoration: none;
  clear: both;
  border: solid #BDBDBD 1px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}
.calculate-savings:hover {
  background: #2D56ED;
  border: solid #BDBDBD 1px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5) inset;
}
.calculate-savings:before {
  font-family: FontAwesome;
  margin-right: 5px;
}

.section-7-minutes-7-years,
.section-as-seen-on-tv {
  /* "as seen on tv" page */
}
.section-7-minutes-7-years main#main-content,
.section-as-seen-on-tv main#main-content {
  background-color: transparent;
  padding: 0;
  border: 0;
  border-radius: 0;
}
.section-7-minutes-7-years .radix-bryant .row .pane-content-area-bwmassoc,
.section-as-seen-on-tv .radix-bryant .row .pane-content-area-bwmassoc {
  padding: 0 2em;
}

.calculate-savings,
.link-button {
  color: #fff;
  font-weight: 600;
  background: #017cca;
  padding: 9px 15px;
  border-radius: 75px;
  margin: 0.5em auto;
  display: table;
  text-decoration: none;
  clear: both;
}
.calculate-savings:before,
.link-button:before {
  font-family: FontAwesome;
  margin-right: 5px;
}

.section-compare-biweeklies main#main-content {
  background-color: transparent;
  padding: 0;
  border: 0;
  border-radius: 0;
}
.section-compare-biweeklies .pane-content-area-bwmassoc {
  padding: 0 1em;
}
.section-compare-biweeklies .pane-content-area-bwmassoc .field--name-body .field__item > h1 {
  color: #0355a3;
}
.section-compare-biweeklies .pane-content-area-bwmassoc .field--name-body p {
  font-size: 20px;
  font-family: FontAwesome, sans-serif;
}
.section-compare-biweeklies .pane-content-area-bwmassoc .field--name-body table {
  overflow: auto;
  display: block;
  border-style: hidden;
  margin: 0 auto;
}
.section-compare-biweeklies .pane-content-area-bwmassoc .field--name-body tr:nth-child(even) {
  background-color: #eeeeee;
}
.section-compare-biweeklies .pane-content-area-bwmassoc .field--name-body tr:hover {
  background-color: #ffffdc;
}
.section-compare-biweeklies .pane-content-area-bwmassoc .field--name-body th {
  text-align: center;
  padding: 5px;
  background-color: #c0eaff;
}
.section-compare-biweeklies .pane-content-area-bwmassoc .field--name-body td {
  padding: 10px;
  width: calc(100% / 3);
}
.section-compare-biweeklies .pane-content-area-bwmassoc .calculate-savings {
  color: #fff;
  font-weight: 600;
  background: #017cca;
  padding: 9px 15px;
  border-radius: 75px;
  margin: 0.5em auto;
  display: table;
  text-decoration: none;
  clear: both;
}
.section-compare-biweeklies .pane-content-area-bwmassoc .calculate-savings:before {
  font-family: FontAwesome;
  margin-right: 5px;
}

.section-contact-bwma main#main-content,
.section-contact-bwmassoc main#main-content {
  background-color: transparent;
  padding: 0;
  border: 0;
  border-radius: 0;
}
.section-contact-bwma .pane-content-area-bwmassoc,
.section-contact-bwmassoc .pane-content-area-bwmassoc {
  padding: 0 1em;
}
@media (min-width: 768px) {
  .section-contact-bwma .pane-content-area-bwmassoc .pane-node-body,
  .section-contact-bwma .pane-content-area-bwmassoc .pane-node-webform,
  .section-contact-bwmassoc .pane-content-area-bwmassoc .pane-node-body,
  .section-contact-bwmassoc .pane-content-area-bwmassoc .pane-node-webform {
    padding: 0 20%;
  }
}
.section-contact-bwma .pane-content-area-bwmassoc .pane-node-body p,
.section-contact-bwma .pane-content-area-bwmassoc .pane-node-webform p,
.section-contact-bwmassoc .pane-content-area-bwmassoc .pane-node-body p,
.section-contact-bwmassoc .pane-content-area-bwmassoc .pane-node-webform p {
  font-size: 1.2em;
}
.section-contact-bwma .pane-content-area-bwmassoc .pane-node-webform,
.section-contact-bwmassoc .pane-content-area-bwmassoc .pane-node-webform {
  padding-bottom: 1em;
}
.section-contact-bwma .pane-content-area-bwmassoc .form-item label,
.section-contact-bwmassoc .pane-content-area-bwmassoc .form-item label {
  display: inline-block;
  margin-right: 0;
  width: 128px;
}
.section-contact-bwma .pane-content-area-bwmassoc .form-item input,
.section-contact-bwmassoc .pane-content-area-bwmassoc .form-item input {
  font-size: 16px;
  width: calc(100% - 133px);
}
.section-contact-bwma .pane-content-area-bwmassoc .form-item select,
.section-contact-bwmassoc .pane-content-area-bwmassoc .form-item select {
  font-size: 16px;
  max-width: 100%;
}
.section-contact-bwma .pane-content-area-bwmassoc .form-item .description,
.section-contact-bwmassoc .pane-content-area-bwmassoc .form-item .description {
  font-size: 0.8em;
  margin-top: 5px;
}
.section-contact-bwma .pane-content-area-bwmassoc .form-actions,
.section-contact-bwmassoc .pane-content-area-bwmassoc .form-actions {
  text-align: center;
}
.section-contact-bwma .pane-content-area-bwmassoc .form-actions input,
.section-contact-bwmassoc .pane-content-area-bwmassoc .form-actions input {
  color: #fff;
  padding: 6px 12px !important;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #1894c7;
}
.section-contact-bwma .pane-content-area-bwmassoc .form-actions input:hover,
.section-contact-bwmassoc .pane-content-area-bwmassoc .form-actions input:hover {
  background-color: #0355a3;
  text-decoration: none;
}
.section-contact-bwma .pane-content-area-bwmassoc .form-actions input[value="Save Draft"],
.section-contact-bwmassoc .pane-content-area-bwmassoc .form-actions input[value="Save Draft"] {
  margin-right: 1em;
  background-color: white;
  border: 1px solid #1894c7;
  color: #1894c7;
}
.section-contact-bwma .pane-content-area-bwmassoc .form-actions input[value="Save Draft"]:hover,
.section-contact-bwmassoc .pane-content-area-bwmassoc .form-actions input[value="Save Draft"]:hover {
  background-color: #68afcc;
  color: white;
}

.section-biweekly-calculator.bwma-calculator-access main#main-content {
  background-color: transparent;
  padding: 0;
  border: 0;
  border-radius: 0;
}
.section-biweekly-calculator.bwma-calculator-access .radix-bryant .row .pane-content-area-bwmassoc {
  padding: 0 1em 1em 1em;
}
.section-biweekly-calculator.bwma-calculator-access .pane-node-body {
  display: inline-block;
  flex: 1 calc(40% - 1em);
  vertical-align: top;
  order: 1;
  font-size: 1em;
  padding: 0;
}
@media (min-width: 768px) {
  .section-biweekly-calculator.bwma-calculator-access .pane-node-body {
    font-size: 1.2em;
  }
}
@media (min-width: 822px) {
  .section-biweekly-calculator.bwma-calculator-access .pane-node-body {
    order: 0;
    min-width: 450px;
  }
}
@media (min-width: 965px) and (max-width: 1023px) {
  .section-biweekly-calculator.bwma-calculator-access .pane-node-body {
    margin-right: 1em;
  }
}
@media (min-width: 1303px) {
  .section-biweekly-calculator.bwma-calculator-access .pane-node-body {
    margin-right: 1em;
  }
}
.section-biweekly-calculator.bwma-calculator-access .pane-node-body li {
  line-height: 1.5;
}
.section-biweekly-calculator.bwma-calculator-access .pane-aweber-webform-aweber-webform {
  display: inline-table;
  margin: 0 auto;
  margin-bottom: 1em;
  width: 100%;
}
@media (min-width: 822px) {
  .section-biweekly-calculator.bwma-calculator-access .pane-aweber-webform-aweber-webform {
    width: auto;
  }
}

.pane-main-tabs {
  display: inline-block;
  width: 100%;
  margin-bottom: 1em;
}
@media (min-width: 768px) {
  .pane-main-tabs {
    width: calc(100% - 12px);
    margin-bottom: 0;
  }
}
.pane-main-tabs .sf-menu {
  margin: 0;
  margin-bottom: -1px;
  padding: 0;
  margin-bottom: -1px;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}
.pane-main-tabs .sf-menu li {
  padding: 0;
  margin-right: 10px;
  flex: 1 auto;
  z-index: 1;
}
.pane-main-tabs .sf-menu li a {
  border-top-left-radius: 5px;
  border-top-right-radius: 24px;
  color: #fff;
  font-size: 11px;
  font-weight: bold;
  padding: 12px 10px;
  display: inline-block;
  text-decoration: none;
  position: relative;
  padding-right: 13px;
  padding-left: 1em;
  border-bottom: 1px solid #c1c1c1;
  width: 100%;
  text-align: center;
  height: 37px;
}
.pane-main-tabs .sf-menu li a:after {
  content: " ";
  position: absolute;
  top: -1px;
  width: 23px;
  background-color: inherit;
  border-radius: 0 12px 0 0;
  border-bottom: 1px solid #c1c1c1;
  transform: skew(24deg);
  right: -13px;
  z-index: 1;
  height: 37px;
}
@media (min-width: 769px) {
  .pane-main-tabs .sf-menu li a {
    font-size: 12px;
    height: 38px;
  }
  .pane-main-tabs .sf-menu li a:after {
    height: 38px;
  }
}
@media (min-width: 866px) {
  .pane-main-tabs .sf-menu li a {
    font-size: 14px;
    height: 40px;
  }
  .pane-main-tabs .sf-menu li a:after {
    height: 40px;
  }
}
@media (min-width: 963px) {
  .pane-main-tabs .sf-menu li a {
    font-size: 16px;
    height: 42px;
  }
  .pane-main-tabs .sf-menu li a:after {
    height: 42px;
  }
}
@media (min-width: 1024px) {
  .pane-main-tabs .sf-menu li a {
    font-size: 11px;
    height: 36px;
  }
  .pane-main-tabs .sf-menu li a:after {
    height: 36px;
  }
}
@media (min-width: 1041px) {
  .pane-main-tabs .sf-menu li a {
    font-size: 12px;
    height: 38px;
  }
  .pane-main-tabs .sf-menu li a:after {
    height: 38px;
  }
}
@media (min-width: 1171px) {
  .pane-main-tabs .sf-menu li a {
    font-size: 14px;
    height: 40px;
  }
  .pane-main-tabs .sf-menu li a:after {
    height: 40px;
  }
}
@media (min-width: 1301px) {
  .pane-main-tabs .sf-menu li a {
    font-size: 16px;
    height: 42px;
  }
  .pane-main-tabs .sf-menu li a:after {
    height: 42px;
  }
}
@media (min-width: 1366px) {
  .pane-main-tabs .sf-menu li a {
    font-size: 17px;
    height: 47px;
  }
  .pane-main-tabs .sf-menu li a:after {
    height: 47px;
  }
}
.pane-main-tabs .sf-menu li:first-child a {
  background: #68ca24;
  border: 1px solid #68ca24;
  border-bottom: 1px solid #c1c1c1;
}
.pane-main-tabs .sf-menu li:nth-child(2) a {
  background: #529e39;
  border: 1px solid #529e39;
  border-bottom: 1px solid #c1c1c1;
}
.pane-main-tabs .sf-menu li:nth-child(3) a {
  background: #ec1f27;
  border: 1px solid #ec1f27;
  border-bottom: 1px solid #c1c1c1;
}
.pane-main-tabs .sf-menu li:nth-child(4) a {
  background: #0792cd;
  border: 1px solid #0792cd;
  border-bottom: 1px solid #c1c1c1;
}
.pane-main-tabs .sf-menu li:nth-child(5) a {
  background: #33a6d7;
  border: 1px solid #33a6d7;
  border-bottom: 1px solid #c1c1c1;
}
.pane-main-tabs .sf-menu li:nth-child(6) a {
  background: #0355a3;
  border: 1px solid #0355a3;
  border-bottom: 1px solid #c1c1c1;
}
.pane-main-tabs .sf-menu li.active-trail a {
  background-color: white;
  color: black;
  border: 1px solid #c1c1c1;
  border-bottom: 1px solid white;
  z-index: 2;
}
.pane-main-tabs .sf-menu li.active-trail a:after {
  border: 1px solid #c1c1c1;
  border-left: 0;
  border-bottom: 0;
  z-index: 2;
}
.pane-main-tabs .sf-menu li:hover a {
  background-color: #ffc43d;
  color: black;
  border-color: #ffc43d;
}
.pane-main-tabs .sf-menu .sf-accordion-toggle {
  margin-bottom: 1em;
}
.pane-main-tabs a[id*="toggle"] {
  display: block;
  text-align: center;
  background-color: #0355a3;
  color: white;
  border-radius: 10px;
  border-left: 0px;
  padding: 0.5em;
  text-decoration: none;
  font-size: 14px;
}
@media screen and (min-width: 400px) {
  .pane-main-tabs a[id*="toggle"] {
    font-size: calc(14px + 4 * ((100vw - 400px) / 318));
  }
}
@media screen and (min-width: 718px) {
  .pane-main-tabs a[id*="toggle"] {
    font-size: 18px;
  }
}
.pane-main-tabs a[id*="toggle"].sf-expanded {
  background-color: #239fd3;
  border-radius: 10px 10px 0 0;
  font-weight: normal;
}
.pane-main-tabs .sf-accordion {
  border: 1px solid #239fd3;
  border-top: 0px;
  border-radius: 0 0 10px 10px;
  box-sizing: border-box;
  display: block !important;
}
.pane-main-tabs .sf-accordion li {
  border: 1px solid #ddd;
  box-sizing: border-box;
  float: none;
  width: 100%;
}
.pane-main-tabs .sf-accordion li:first-child a {
  background: #68ca24;
}
.pane-main-tabs .sf-accordion li:nth-child(2) a {
  background: #529e39;
}
.pane-main-tabs .sf-accordion li:nth-child(3) a {
  background: #ec1f27;
}
.pane-main-tabs .sf-accordion li:nth-child(4) a {
  background: #0792cd;
}
.pane-main-tabs .sf-accordion li:nth-child(5) a {
  background: #33a6d7;
}
.pane-main-tabs .sf-accordion li:nth-child(6) a {
  background: #0355a3;
}
.pane-main-tabs .sf-accordion li:last-child {
  border-radius: 0 0 10px 10px;
}
.pane-main-tabs .sf-accordion li:last-child a {
  border-radius: 0 0 10px 10px;
}
.pane-main-tabs .sf-accordion li a {
  border: 0px;
  color: white;
  padding-left: 34px;
  text-decoration: none;
  padding: 0.75em 1em;
  text-align: center;
  font-size: 14px;
}
@media screen and (min-width: 400px) {
  .pane-main-tabs .sf-accordion li a {
    font-size: calc(14px + 4 * ((100vw - 400px) / 318));
  }
}
@media screen and (min-width: 718px) {
  .pane-main-tabs .sf-accordion li a {
    font-size: 18px;
  }
}
.pane-main-tabs .sf-accordion li a:hover {
  background-color: #ffc43d;
  color: black;
}
.pane-main-tabs .sf-accordion li a.active {
  background-color: white;
  color: black;
}

#cta2 {
  margin-top: 2em;
  margin-bottom: 1em;
  padding: 0 1em;
}
#cta2 h2 {
  margin: 0;
}
#cta2 p {
  margin: 0;
}

/*# sourceMappingURL=homepage.css.map */
