/*** Mailing Styles ***/

#mimemail-body {
	background-color: #bad4e6;
	font-size: 14px;
	font-family: 'Lucida Sans Unicode',Lucida Grande,sans-serif, sans-serif;
	color: black;
}

#main {
	width: 590px;
	margin: auto;
	display: table;
}

#logo {
	margin: 2em auto;
	display: table;
}

#body {
	background-color: white;
	padding: 1em;
}

#footer {
	background-color: #555;
	color: #919191;
}
