.bwmassoc-page {
    .panel-display .row {
        display: flex;
        flex-flow: row wrap;
        margin: 0;

        .field--name-body {
            width: 100%;
        }

        .radix-layouts-sidebar {
            order: 1;
            flex: 100%;
            padding: 0;

            @include breakpoint(1024px) {
                order: 0;
                flex: 25%;
            }
        }

        .radix-layouts-contentheader {
            padding: 0;
            width: 100%;
        }
        .radix-layouts-contentcolumn1,
        .radix-layouts-contentcolumn2 {
            width: 100%;
            padding: 0 1em 1em 1em;
            display: inline-block;
            background: #fff none repeat scroll 0 0;
            border: 1px solid #c1c1c1;

            .panel-panel-inner {
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
            }

            @include breakpoint(848px) {
                width: 50%;
                min-width: 400px;
            }
            @include breakpoint(1024px) {
                width: 100%;
            }
            @include breakpoint(1146px) {
                width: 50%;
            }
        }
        .radix-layouts-contentcolumn1 {
            border-width: 0 1px 0 1px;

            @include breakpoint(848px) {
                border-width: 0 0 0 1px;
            }
            @include breakpoint(1024px) {
                border-width: 0 1px 0 1px;
            }
            @include breakpoint(1146px) {
                border-width: 0 0 0 1px;
            }
        }
        .radix-layouts-contentcolumn2 {
            border-width: 0 1px 0 1px;

            @include breakpoint(848px) {
                border-width: 0 1px 0 0;
            }
            @include breakpoint(1024px) {
                border-width: 0 1px 0 1px;
            }
            @include breakpoint(1146px) {
                border-width: 0 1px 0 0;
            }
        }
        .radix-layouts-contentfooter {
            padding: 0;
            width: 100%;
            border: 1px solid #c1c1c1;
            border-top: 0px;
            padding: 0 2em;
            padding-bottom: 1em;
            background: #fff none repeat scroll 0 0;
        }

        .col-md-8 {
            flex: 100%;
            max-width: 100%;
            padding: 0;

            @include breakpoint(1024px) {
                flex: calc(75% - 1em);
                padding-left: 1em;
            }
        }
    }

    .bwmassoc-page-top {
        display: inline-block;
        width: 100%;
        background: #fff none repeat scroll 0 0;
        border: 1px solid #c1c1c1;
        border-bottom: 0px;
        padding: 0 2em;
        padding-top: 1em;

        @include breakpoint(768px){
            border-top: 0;
        }
    }

    .bwmassoc-page-middle {
        display: inline-flex;
        width: 100%;
        background: #fff none repeat scroll 0 0;
        border-left: 1px solid #c1c1c1;
        border-right: 1px solid #c1c1c1;
        padding: 0 2em;
    }

    .bwmassoc-page-bottom {
        display: inline-block;
        width: 100%;
        background: #fff none repeat scroll 0 0;
        border: 1px solid #c1c1c1;
        border-top: 0px;
        padding: 0 2em;
        padding-bottom: 1em;
    }
}

.centered-pane-horizontal {
    text-align: center;

    .field__items {
        display: inline-block;
    }
}
.centered-pane-vertical {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

