#block-block-3 {
	p {
		display: inline-block;
		width: 100%;
	}

	.copyright {
    color: #181818;
    font-size: 13px;
    font-family: 'Open Sans';
    margin: 0;
    float: left;
	}

	.footer-links {
		float: right;
    font-size: 13px;
    font-family: 'Open Sans';

    a {
			color: #0355a3;
			font-size: 13px;
			font-family: 'Open Sans';
			text-decoration: underline;
    }
	}
}