.form-item {
	font-size: 16px;
	margin-bottom: 10px;

	label {
		display: inline-block;
	}

	input, keygen, select {
		display: inline-block;
		background-color: white;
	}
	
	input, textarea, keygen, select, button {
		font-size: 16px;
	}

	th {
		background-color: initial;
	}

	tr.odd{
		background-color: #FAFAF8;
	}
	tr.even{
		background-color: #E6E6E6;
	}

	.container-inline-date .form-item input {
		margin: 0;
	}
}

input[type="submit"],
a.button.fake-ok {
    padding: 6px 12px;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-right: 1em;

    &:last-child {
    	// margin-right: 0;
    }
}
input[value="Save"],
input[value*="Apply"],
input#edit-submit,
a.button.fake-ok {
	background-color: #1196cf;
	color: white;

	&:hover {
		background-color: #2271bd;
	}
}
input[value="Remove"] {
	color: white;
	background: #ffa3a3;
	margin-right: 0;

	&:hover {
		background-color: red;
	}
}

input.field-add-more-submit {
	text-transform: capitalize;
	margin: .5em auto 0;
	display: table;
	background-color: #1196cf;
	color: white;
	border: 0;
	border-radius: 5px;

	&:hover {
		background-color: #2271bd;
	}
}

input[value="Remove"] {
	position: absolute;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    right: -60px;
    top: 50%;
    background-color: #ffa3a3;
    color: white;
    min-width: auto !important;
	border: 0;
	border-radius: 5px;

	&:hover {
		background-color: red;
	}
}

#module-filter-show-wrapper .form-item {
    display: inline-block;

    label {
    	margin-left: 0;
    }
}

fieldset {
	margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 0.5em 1em;
    min-width: 0;
}

html.js fieldset.collapsed {
	border-width: 1px;
	height: 2em;
}

.form-actions {
	text-align: center;
	background: #eee;
    border: 1px solid #ddd;
    padding: 9px;
    margin-top: 10px;
    margin-bottom: 0;

	#edit-submit {
		display: inline-block;
		background-color: #1196cf;
		color: white;

		&:hover {
			background-color: #2271bd;
		}
	}
	#edit-delete,
	#edit-cancel {
		color: white;
		background: #ffa3a3;

		&:hover {
			background-color: red;
		}
	}
	[type="submit"] {
		display: inline-block;
		margin-left: 0 !important;
    	margin-right: 10px;

    	&:last-child {
    		margin-right: 0;
    	}
	}

	&#edit-actions {
		float: none;
	}
}

.page-manager-save-page-form {
	text-align: center;

	.changed-notification {
		text-align: left;
	}

	[type="submit"] {
		display: inline-block;
    	margin: 10px;
	}
}

.field-type-addressfield,
[id*="field-phone-values"] {
	.form-item {
		margin-bottom: 0.5em;
	}
}

.advanced-help-link {
  float: left;
}

.form-buttons {
	text-align: center;

	input[type="submit"] {
		display: inline-block;
	}

	input {
		margin-left: 0;
		margin-right: 1em;

		&:last-child {
			margin-right: 0;
		}
	}
}

#views-ui-preview-form {
	.form-item-live-preview {
		float: none;
	}

	.form-item-view-args {
		width: auto;
		display: inline-block;
	}

	#preview-submit-wrapper {
		display: inline-block;
		width: auto;
		vertical-align: top;
	}
}

.field-multiple-table {
	th {
		padding: 5px;
		background-color: #c0eaff;
	}
	tbody {
		width: 100%;
	}
	tr.draggable {
		display: flex;
		border: 1px solid #ccc;
		box-sizing: border-box;
		width: 100%;

		td.field-multiple-drag {
			order: 1;
			box-sizing: border-box;
			display: block;
			width: 50px;
			padding: 10px;
			padding-right: 0;
		}

		td:not([class]) {
			flex: 100%;
			display: block;
			position: relative;
			width: calc(100% - 38px);
		}
	}
}

.pane-form {
	.form-item {
		margin-bottom: 0.5em;
	}

	.field-widget-link-field {
		tr.draggable {
			td.field-multiple-drag {
				width: 110px;
			}
			td:not([class]) {
				width: calc(100% - 110px);
			}
		}
		.link-field-title {
			width: 100%;

			.form-item:before {
				content: 'Title';
				font-weight: bold;
				width: 33px;
				display: inline-block;
			}
		}
		.link-field-url {
			width: 100%;
		}
		input[value="Remove"] {
			transform: none;
			right: -83px;
		}
	}

	div.addressfield-container-inline > div.form-item {
		float: none;
	}
}
