.form-item {
	font-size: 16px;
	margin-bottom: 10px;

	label {
		display: inline-block;
	}

	input, keygen, select {
		display: inline-block;
		background-color: white;
		max-width: 100%;
	}
	
	input, textarea, keygen, select, button {
		font-size: 16px;
		border: 1px solid #cccccc;
		max-width: 100%;
	}

	th {
		background-color: initial;
	}

	tr.odd{
		background-color: #FAFAF8;
	}
	tr.even{
		background-color: #E6E6E6;
	}

	.container-inline-date .form-item input {
		margin: 0;

		@include breakpoint(0px 569px) {
			display: block;
		}
	}

	.description {
		margin-top: 0.5em;
		width: 100%;
	}
}

.g-recaptcha {
	display: table;
	margin: auto;
}

.form-type-radio,
.form-type-checkbox {
	display: flex;
	align-items: baseline;
	flex-flow: row wrap;

	input.form-radio {
		margin-right: 10px;
	}
	.description {
		flex: 100%;
	}

	&.webform-container-inline {
		display: block;

		label {
			display: inline;

			> input.form-text {
				width: 100%;
				margin-top: 5px;
			}
		}
	}
}

.webform-component-checkboxes,
.form-item-checkboxes {
	.form-type-checkbox {
		flex-flow: row nowrap;
	}
}
.webform-component-radios,
.form-item-radios {
	.form-type-radio {
		flex-flow: row nowrap;
	}
}

.webform-component-radios:not(.webform-container-inline),
.webform-component-checkboxes:not(.webform-container-inline) {
	.form-item {
		margin-left: 1.5em;
	}
}
.webform-component-radios.webform-container-inline {
	.form-type-radio {
		display: inline-flex;
	}
}
.webform-component-textfield,
.webform-component-email,
.webform-component-phone {
	display: flex;
	width: 100%;
	align-items: center;
	flex-flow: row wrap;

	label {
		min-width: 125px;
	}
	input {
		flex: 1 1 200px;
		min-width: 200px;
	}
}
.webform-component-addressfield {
	@include flexifields(100px);

	.form-item {
		padding-left: 1.5em;

		select {
			flex: 1 1 calc(100% - 100px);
		}
		input, select {
			min-width: 150px;
		}
	}

	[class*="mailing-address-country"] select {
		max-width: 380px;
	}
	[class*="mailing-address-administrative-area"] select {
		max-width: 418px;
	}
	[class*="mailing-address-postal-code"] input {
		max-width: 100px;
	}
}
.webform-component-phone {
	input {
		max-width: 240px;
	}
}

input[type="submit"],
input[value="Save"],
input[value*="Apply"],
input#edit-submit,
a.button.fake-ok {
    padding: 6px 12px;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-right: 1em;
    -webkit-appearance: none;
    background-color: #1196cf;
    color: white;

    &:hover {
    	background-color: #2271bd;
    }
}
input[value="Remove"] {
	color: white;
	background: #ffa3a3;
	margin-right: 0;

	&:hover {
		background-color: red;
	}
}

input.field-add-more-submit {
	text-transform: capitalize;
	margin: .5em auto 0;
	display: table;
	background-color: #1196cf;
	color: white;
	border: 0;
	border-radius: 5px;

	&:hover {
		background-color: #2271bd;
	}
}

input[value="Remove"] {
	position: absolute;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    right: -60px;
    top: 50%;
    background-color: #ffa3a3;
    color: white;
    min-width: auto !important;
	border: 0;
	border-radius: 5px;

	&:hover {
		background-color: red;
	}
}

#module-filter-show-wrapper .form-item {
    display: inline-block;

    label {
    	margin-left: 0;
    }
}

fieldset {
	margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 0.5em 1em;
    min-width: 0;
    background-color: white;
}

html.js fieldset.collapsed {
	border-width: 1px;
	height: 2em;
}

.form-actions {
	text-align: center;
    margin-top: 10px;
    margin-bottom: 0;

	#edit-submit,
	.form-submit {
		display: inline-block;
		background-color: #1196cf;
		color: white;

		&:hover {
			background-color: #2271bd;
		}
	}
	#edit-delete,
	#edit-cancel {
		padding: 6px 12px;
		font-size: 1em;
		font-weight: 400;
		line-height: 1.42857143;
		text-align: center;
		white-space: nowrap;
		vertical-align: middle;
		touch-action: manipulation;
		cursor: pointer;
		user-select: none;
		background-image: none;
		border: 1px solid transparent;
		border-radius: 4px;
		margin-right: 1em;
		-webkit-appearance: none;
		color: white;
		background: #ffa3a3;

		&:hover {
			background-color: red;
		}
	}
	[type="submit"] {
		display: inline-block;
		margin-left: 0 !important;
    	margin-right: 10px;

    	&:last-child {
    		margin-right: 0;
    	}
	}

	&#edit-actions {
		float: none;
	}
}

.page-manager-save-page-form {
	text-align: center;

	.changed-notification {
		text-align: left;
	}

	[type="submit"] {
		display: inline-block;
    	margin: 10px;
	}
}

.field-type-addressfield,
[id*="field-phone-values"] {
	.form-item {
		margin-bottom: 0.5em;
	}
}

.form-item-path-alias {
	display: flex;
	flex-flow: row wrap;
	align-items: center;

	input {
		flex: 1;
	}
}

.advanced-help-link {
  float: left;
}

.form-buttons {
	text-align: center;

	input[type="submit"] {
		display: inline-block;
	}

	input {
		margin-left: 0;
		margin-right: 1em;

		&:last-child {
			margin-right: 0;
		}
	}
}

#views-ui-preview-form {
	.form-item-live-preview {
		float: none;
	}

	.form-item-view-args {
		width: auto;
		display: inline-block;
	}

	#preview-submit-wrapper {
		display: inline-block;
		width: auto;
		vertical-align: top;
	}
}

.field-multiple-table {
	th {
		padding: 5px;
		background-color: #c0eaff;
	}
	tbody {
		width: 100%;
	}
	tr.draggable {
		display: flex;
		border: 1px solid #ccc;
		box-sizing: border-box;
		width: 100%;

		td.field-multiple-drag {
			order: 1;
			box-sizing: border-box;
			display: block;
			width: 50px;
			padding: 10px;
			padding-right: 0;
		}

		td:not([class]) {
			flex: 100%;
			display: block;
			position: relative;
			width: calc(100% - 38px);
		}
	}
}

.pane-form {
	.form-item {
		margin-bottom: 0.5em;
	}

	.field-widget-link-field {
		tr.draggable {
			td.field-multiple-drag {
				width: 110px;
			}
			td:not([class]) {
				width: calc(100% - 110px);
			}
		}
		.link-field-title {
			width: 100%;

			.form-item:before {
				content: 'Title';
				font-weight: bold;
				width: 33px;
				display: inline-block;
			}
		}
		.link-field-url {
			width: 100%;
		}
		input[value="Remove"] {
			transform: none;
			right: -83px;
		}
	}

	div.addressfield-container-inline > div.form-item {
		float: none;
	}
}

#af-form-1281827340 {
	#af-header-1281827340 {
		@include breakpoint(0px 568px) {
			background: none;
			padding: 0.5em 1em;
			font-size: 16px;
		}
	}

	#af-body-1281827340 {
		label.previewLabel {
			display: inline-block;
			float: none;
			width: 100px;
		}

		.af-textWrap,
		.af-selectWrap {
			width: calc(100% - 100px);
			min-width: 200px;
			display: inline-block;
			float: none;
		}
		.af-checkWrap {
			width: 100%;
		}
	}
}

.sendpulse-optin {
	display: inline-table;
	margin: 0 auto;
	margin-bottom: 1em;
	width: 100%;

	@include breakpoint(822px) {
		width: auto;
	}

	.sp-dce4c329-9c07-4ba1-9136-46ca3b2a85ed-container {
	    float: right;

	    @include breakpoint(0px 568px) {
	    	display: none;
	    }
	}

	#sp-form-81705 {
		width: 100%;
		max-width: 434px;
	}

	.sp-message p:first-child {
		text-align: center;
		font-size: 1.2em;
	}
}

.pane-bwma-calculator-calculator {
	margin: 0 auto;
	max-width: 100%;
	overflow: auto;

	#theform_table {
		tr:hover {
		    background-color: transparent;
		}

		table {
			border: none;
	
			tr:nth-child(even) {
				background-color: transparent;
			}
		}
	}
}

#edit-bwma-user-registration-form-bwma-user-register-allowed-phone-types,
#edit-bwma-user-register-allowed-phone-types,
#edit-bwma-text-message-phone-type {
	column-width: 100px;

	.form-item {
		display: inline-block;
		width: 100%;
	}

	label, input {
		vertical-align: bottom;
	}
}

.webform-client-form {
	background-color: #f2f2f2;
	border: 1px solid #ccc;
	padding: 1em;
	margin: 1em 0;
	position: relative;
	border-radius: 5px;

	@include breakpoint(730px) {
		margin: 0 10%;
	}
}

.form-refer-a-friend form {
	.webform-component--your-information--referrer-first-name,
	.webform-component--your-information--referr-last-name,
	.webform-component--your-information--referrer-email,
	.webform-component--your-information--referr-phone-number {
		display: flex;
		width: 100%;
		align-items: center;
		flex-flow: row wrap;

		label {
			margin-right: 0;
			min-width: 170px;
		}
		input {
			flex: 1 1 200px;
			min-width: 200px;
		}
	}
	.webform-component--your-referrals-information--referrals-first-name,
	.webform-component--your-referrals-information--referrals-last-name,
	.webform-component--your-referrals-information--referrals-best-phone-number,
	.webform-component--your-referrals-information--your-referrals-best-email {
		display: flex;
		width: 100%;
		align-items: center;
		flex-flow: row wrap;

		label {
			margin-right: 0;
			min-width: 230px;
		}
		input {
			flex: 1 1 200px;
			min-width: 200px;
		}
	}
	.webform-component--your-referrals-information--referrals-best-phone-number input {
		max-width: 240px;
	}
	.form-item-submitted-your-referrals-information-referral-mailing-address-postal-code input {
		max-width: 100px;
	}
	.form-item-submitted-your-referrals-information-referral-mailing-address-country select {
		max-width: 380px;
	}
	.form-item-submitted-your-referrals-information-referral-mailing-address-administrative-area select {
		max-width: 418px;
	}
}

.ctools-dropbutton ul {
	font-size: 1em;
	
	li {
		margin: 0;
	}
}

#views-display-menu-tabs input[type="submit"] {
	color: black;
	font-size: 13px;
}

#bwma-admin-settings-form,
#bwma-user-registration-settngs {
	#edit-field-settings,
	#edit-bwma-user-registration-form-field-settings {
		.form-item {
			display: inline-block;

			input[type="text"] {
				width: 100%;
				max-width: 250px;
			}

			&[class*="label"] {
				margin-right: 1em;
			}
		}
	}
}