.pane-page-site-name h1 {
	text-align: center;
	font-size: 48px;
	font-weight: 700;
	margin: 0;
	line-height: 1;

	a {
		text-decoration: none;
		color: #0355a3;
	}
}
.pane-current-6 h2,
.pane-current-7 h2 {
	text-align: center;
	font-weight: 700;
	margin: 10px 0;
	line-height: 1;

	a {
		text-decoration: none;
		color: #2c2c2c;
	}
}

.pane-current-6 a {
	font-size: 28px;
}
.pane-current-7 a {
	font-size: 20px;

	.slogan-2 {
		display: block;

		&:before {
			content: '';
			margin-left: 13px;

			@include breakpoint(1317px) {
				content: '• ';
				margin-left: 0px;
			}
		}
	}
}

.pane-current-9 {
	color: #242424;
	font-size: 17px;
	font-weight: 700;
	text-align: center;
	width: 100%;
	display: flex;
	justify-content: center;

	&:before {
		font-family: FontAwesome;
		display: inline-block;
	}

	.fieldable-panels-pane {
		display: inline-block;
	}

	p {
		margin: 0;
	}
}

#wwm-collapse-3 {
	.left-column {
		flex: 0 0 377px;

		@include breakpoint(1024px) {
			flex: 0 0 301px;
		}

		.pane-block-4 {
			width: 170px;
			float: left;

			@include breakpoint(1024) {
				width: 124px;
			}
		}

		#bbblogo {
			a#bbblink {
				display: block;
				overflow: hidden;
				width: 113px;
				margin-top: 10px;
				margin-left: auto;
				margin-right: auto;
				height: 180px;

				&:hover {
				    width: 136px;
				    background-color: white;
				    border: 1px solid #035a78;
				    border-radius: 10px;
				}

				img {
					height: 180px;

					&:hover {
						margin-left: -120px;
					}
				}

				@include breakpoint(1024) {
		    		width: 94px;
					height: 150px;

					&:hover {
						width: 112px;
					}

					img {
						height: 150px;

						&:hover {
							margin-left: -100px;
						}
					}
		    	}
			}
		}

		.pane-page-logo {
			float: left;
		}
		a#logo {
			display: block;
		    margin-top: 10px;

		    img {
		    	height: 180px;

		    	@include breakpoint(1024) {
		    		height: 150px;
		    	}
		    }
		}
	}

	.right-column {
		flex: 0;
		.share-us {
			.pane-title {
				text-align: center;
	    		margin-bottom: 0;
	    		font-size: 18px;
			}
			p {
				margin: 3px;
				font-size: 14px;
				color: grey;
			}
		}

		#widgets-element-socialmedia_share-default {
			display: flex;
			flex-flow: row wrap;
			justify-content: center;
			align-items: center;
			width: 100px;
			margin: 0 auto;

			.widgets-element a {
				display: block;
				height: 32px;
				margin: 2px;
			}
		}
	}

	.middle-column {
		flex: 1 auto;

		.pane-uuid-0ca4c5ea-c6b6-4588-96a9-7a654351b5d9:not(.pane-bundle-text) {
			text-align: center;
			display: inline-table;
			vertical-align: middle;
			margin-left: calc(50% - 238px);		//to center both this block and the social sharing widget together inline.

			h2.pane-title {
				font-size: 17px;
				margin: 0;
				display: inline-block;
			}
			.fieldable-panels-pane {
				display: inline-block;
				font-weight: bold;
			}
		}

		.pane-widgets-s-socialmedia-share-default {
			display: inline-table;
			margin-right: auto;
			vertical-align: middle;
		}

		#widgets-element-socialmedia_share-default {
			display: flex;
			justify-content: center;
		}
	}
}
