.pane-page-site-name h1 {
	text-align: center;
	font-size: 37px;
	font-family: 'pnb';
	font-weight: 600;
	margin-top: 0.5em;
	margin-bottom: 0;

	a {
		text-decoration: none;
		color: #0355a3;
	}
}

.pane-page-slogan h2 {
	text-align: center;
	color: #2c2c2c;
	font-size: 29px;
	font-family: 'pnb';
	font-weight: 600;
	margin: 10px 0;
}

#bbblogo {
	a#bbblink {
    display: block;
    overflow: hidden;
    width: 82px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    height: 132px;

    &:hover {
	    width: 107px;
	    background-color: white;
	    border: 1px solid #035a78;
	    border-radius: 10px;
    }

    img:hover {
    	margin-left: -82px;
    }
	}
}

#wwm-collapse-3 {
	.left-column {
		> div {
			display: flex;
    	flex-wrap: nowrap;

    	.pane-block-4 {
    		width: 130px;
    	}
		}
	}

	a#logo {
		display: block;
    margin-top: 10px;

    img {
    	height: 132px;
    }
	}
}
