.pane-page-site-name h1 {
	text-align: center;
	font-size: 48px;
	font-weight: 700;
	margin: 0;
	line-height: 1;

	a {
		text-decoration: none;
		color: #0355a3;
	}
}
.pane-current-6 h2,
.pane-current-7 h2 {
	text-align: center;
	font-weight: 700;
	margin: 10px 0;
	line-height: 1;

	a {
		text-decoration: none;
		color: #2c2c2c;
	}
}

.pane-current-6 a {
	font-size: 28px;
}
.pane-current-7 a {
	font-size: 20px;

	.slogan-2 {
		white-space: nowrap;

		&:before {
			content: '';
			margin-left: 13px;

			@include breakpoint(1317px) {
				content: '• ';
				margin-left: 0px;
			}
		}
	}
}

.pane-current-9 {
	color: #242424;
	font-size: 15px;
	font-weight: 700;
	text-align: center;
	width: 100%;

	&:before {
		font-family: FontAwesome;
		display: inline-block;
	}

	.fieldable-panels-pane {
		display: inline-block;
	}

	p {
		margin: 0;
	}
}

#bbblogo {
	a#bbblink {
    display: block;
    overflow: hidden;
    width: 125px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    height: 200px;

    &:hover {
	    width: 152px;
	    background-color: white;
	    border: 1px solid #035a78;
	    border-radius: 10px;
    }

    img {
    	height: 200px;

    	&:hover {
      	margin-left: -132px;
      }
    }
	}
}

#wwm-collapse-3 {
	.left-column {
		> div {
			display: flex;
    	flex-wrap: nowrap;

    	.pane-block-4 {
    		width: 170px;
    	}
		}
	}

	.right-column {
		.share-us {
			.pane-title {
				text-align: center;
    		margin-bottom: 0;
    		font-size: 18px;
			}
			p {
				margin: 3px;
				font-size: 14px;
				color: grey;
			}
		}

		#widgets-element-socialmedia_share-default {
			display: flex;
			flex-flow: row wrap;
			justify-content: center;
			align-items: center;
			width: 100px;
			margin: 0 auto;

			.widgets-element a {
				display: block;
				height: 32px;
				margin: 2px;
			}
		}
	}

	a#logo {
		display: block;
    margin-top: 10px;

    img {
    	height: 200px;
    }
	}
}
