#quicktabs-container-bwmassoc_home_page {
	background: #fff none repeat scroll 0 0;
	border: 1px solid #c1c1c1;

	hr {
		margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
	}

	article[about="/dare-to-compare"] {
		.field--name-body {
			width: calc((100% / 3) * 2);
			display: inline-block;
		}

		.field--name-field-featured-image {
			width: calc(100% / 3);
			display: inline-block;
			height: 100%;
			position: relative;

			.field__items {
				position: absolute;
				bottom: -26px;

				img {
					width: 100%;
				}
			}
		}

		img[alt="Compare Home"] {
			float: left;
		}

		.text-info {
			ul {
				margin: 0;
				padding: 0;

				li {
					display: flex;
					align-items: center;
				}
			}
		}

		.saved-nothing {
			color: #fff;
			font-size: 18px;
			font-family: 'Roboto';
			font-weight: 600;
			background: #ec1f27;
			padding: 9px 15px;
			border-radius: 75px;
			margin: 1em auto;
			display: table;
		}
		.saved {
			color: #fff;
			font-size: 18px;
			font-family: 'Roboto';
			font-weight: 600;
			background: #00ad31;
			padding: 9px 15px;
			border-radius: 75px;
			margin: 1em auto;
			display: table;
		}
		.calculate-savings {
			color: #fff;
			font-size: 18px;
			font-family: 'Roboto';
			font-weight: 600;
			background: #017cca;
			padding: 9px 15px;
			border-radius: 75px;
			margin: 1em auto;
			display: table;
		}

		#conventional {
			display: flex;
		}

		#supersaver {
			display: flex;
		}
	}
}