.quicktabs-tabs {
	margin: 0;
	padding: 0;
	margin-bottom: -1px;

	li {
		a {
	    border-top-left-radius: 5px;
	    border-top-right-radius: 5px;
	    color: #fff;
	    font-family: "Roboto";
	    font-size: 17px;
	    font-weight: 500;
	    padding: 12px 10px;
	    display: inline-block;
	    text-decoration: none;
		}

		&:first-child {
			background: #57a63d;
			border: 1px solid #57a63d;
		}
		&:nth-child(2) {
			background: #0792cd;
			border: 1px solid #0792cd;
		}
		&:nth-child(3) {
			background: #ec1f27;
			border: 1px solid #ec1f27;
		}
		&:nth-child(4) {
			background: #33a6d7;
			border: 1px solid #33a6d7;
		}
		&:nth-child(5) {
			background: #0355a3;
			border: 1px solid #0355a3;
		}
	}
}

#quicktabs-container-bwmassoc_home_page {
	background: #fff none repeat scroll 0 0;
	border: 1px solid #c1c1c1;

	hr {
		margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
	}

	article[about="/dare-to-compare"] {
		.field--name-body {
			width: calc((100% / 3) * 2);
			display: inline-block;
		}

		.field--name-field-featured-image {
			width: calc(100% / 3);
			display: inline-block;
			height: 100%;
			position: relative;

			.field__items {
				position: absolute;
				bottom: -24px;

				img {
					width: 100%;
				}
			}
		}

		img[alt="Compare Home"] {
			float: left;
		}

		.text-info {
			ul {
				margin: 0;
				padding: 0;

				li {
					display: flex;
					align-items: center;
				}
			}
		}

		.saved-nothing {
			color: #fff;
			font-size: 18px;
			font-family: 'Roboto';
			font-weight: 600;
			background: #ec1f27;
			padding: 9px 15px;
			border-radius: 75px;
			margin: 1em auto;
			display: table;
		}
		.saved {
			color: #fff;
			font-size: 18px;
			font-family: 'Roboto';
			font-weight: 600;
			background: #00ad31;
			padding: 9px 15px;
			border-radius: 75px;
			margin: 1em auto;
			display: table;
		}
		.calculate-savings {
			color: #fff;
			font-size: 18px;
			font-family: 'Roboto';
			font-weight: 600;
			background: #017cca;
			padding: 9px 15px;
			border-radius: 75px;
			margin: 1em auto;
			display: table;
			text-decoration: none;
		}

		#conventional {
			display: flex;
		}

		#supersaver {
			display: flex;
		}
	}
}