#wwm-special-2 {
	.empty { display: none; }

	.top-columns,
	.bottom-columns {
		display: block;

		> section {
			display: inline-block;
			vertical-align: top;
			box-sizing: content-box;
			padding: 0 1%;
			width: 100%;
		}

		@include breakpoint(693px) {
			.top-1,	.top-2,	.top-3,	.top-4 {
				width: calc(50% - 2%);
			}
		}

		@include breakpoint(1250px) {	
			.top-1,	.top-2,	.top-3,	.top-4 {
				width: calc(25% - 2%);
			}
		}

		@include breakpoint(900px) {
			.bottom-1, .bottom-2, .bottom-3 {
				width: calc((100% / 3) - 2%);
			}
		}
	}
}