#block-superfish-3 {
	display: inline-block;
	float: right;

	ul.sf-menu-main-menu---bwmassoc {
		position: initial;

		li {
			padding: 0;

			&.active a {
				background: #fff;
				text-decoration: none;
				color: #1894c7;
			}

			a {
				color: #262626;
				font-family: 'Open Sans', sans-serif;
				font-size: 16px;
				font-weight: 600;
				padding: 16px 20px;
				text-transform: uppercase;
				position: relative;
				top: 0px;
				text-decoration: none;
				line-height: 1.5;

				&:hover, &:focus {
					background: #fff;
			    text-decoration: none;
			   	color: #1894c7;
				}

				i {
					margin-right: 3px;
				}
			}
		}
	}
}

#block-superfish-2 {
	float: left;

	ul.sf-menu-user-menu-bwmassoc {
		margin: 0;
		padding: 0;

		li {
			list-style: none;
			float: left;

			&:first-child {
				a {
					background: #1894c7;
					color: white;
				}
			}

			a {
				display: block;
				color: #262626;
				font-family: 'Open Sans', sans-serif;
				font-size: 16px;
				font-weight: 600;
				padding: 16px 20px;
				text-transform: uppercase;
				position: relative;
				top: 0px;
				text-decoration: none;
				line-height: 1.5;

				&:hover, &:focus {
					background: #fff;
			    text-decoration: none;
			   	color: #1894c7;
				}

				i {
					margin-right: 3px;
				}
			}
		}
	}
}

#block-menu-menu-user-menu-bwmassoc-logout {
	float: left;

	ul.menu {
		margin: 0;
		padding: 0;

		li {
			list-style: none;
			float: left;

			a {
				display: block;
				color: #262626;
				font-family: 'Open Sans', sans-serif;
				font-size: 16px;
				font-weight: 600;
				padding: 16px 20px;
				text-transform: uppercase;
				position: relative;
				top: 0px;
				text-decoration: none;
				line-height: 1.5;

				&:hover, &:focus {
					background: #fff;
			    text-decoration: none;
			   	color: #1894c7;
				}

				&[href*='login'] {
					background: #1894c7;
					color: white;
				}

				i {
					margin-right: 3px;
				}
			}
		}
	}
}