main#main-content {
	background-color: white;
	padding: 1em;
	border: 1px solid #c1c1c1;
	border-radius: 5px;
}

.panels-flexible-200 {
	@include breakpoint(0px 568px) {
		.panels-flexible-region {
			width: 100%;
		}

		.panels-flexible-region-inside-last {
			padding-left: 0;
		}
	}
}

.bwmassoc-page main#main-content {
    background-color: transparent;
    padding: 0;
    border: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}
