.page-node {
	.panel-display {
		background-color: white;
		padding: 1em;
		border: 1px solid #c1c1c1;
		border-radius: 5px;
	}
}

.page-admin {
	.admin-list,
	.admin {
		background-color: white;
		padding: 1em;
		border: 1px solid #c1c1c1;
		border-radius: 5px;
	}
}