.registration-form {
	.radix-bartlett .row {
		display: flex;
		flex-flow: row wrap;
		margin: 0;

		.radix-layouts-sidebar {
			order: 1;
			flex: 100%;
			padding: 0;

			@include breakpoint(1024px) {
				order: 0;
				flex: 25%;
			}

			.pane-uuid-0ca4c5ea-c6b6-4588-96a9-7a654351b5d9 {
				.pane-title {
					text-align: center;
					margin-bottom: 0;
				}
				.fieldable-panels-pane p {
					margin-top: 0;
					margin-bottom: 0;
				}
			}

			#widgets-element-socialmedia_share-default {
				display: flex;
				justify-content: center;

				.widgets-element {
					margin-right: 5px;
				}
			}
		}

		.col-md-8 {
			flex: 100%;
			max-width: 100%;
			padding: 0;

			@include breakpoint(1024px) {
				flex: calc(75% - 1em);
				padding-left: 1em;
			}

			.radix-layouts-contentheader {
				padding: 0;
				width: 100%;
			}
			.radix-layouts-contentcolumn1,
			.radix-layouts-contentcolumn2 {
				width: 100%;
				padding: 0 1em 1em 1em;
				display: inline-block;
				background: #fff none repeat scroll 0 0;
				border: 1px solid #c1c1c1;

				.panel-panel-inner {
					display: flex;
					flex-flow: row wrap;
				}

				@include breakpoint(848px) {
					width: 50%;
					min-width: 400px;
				}
				@include breakpoint(1024px) {
					width: 100%;
				}
				@include breakpoint(1146px) {
					width: 50%;
				}
			}
			.radix-layouts-contentcolumn1 {
				border-width: 0 1px 0 1px;

				@include breakpoint(848px) {
					border-width: 0 0 1px 1px;
				}
				@include breakpoint(1024px) {
					border-width: 0 1px 0 1px;
				}
				@include breakpoint(1146px) {
					border-width: 0 0 1px 1px;
				}
			}
			.radix-layouts-contentcolumn2 {
				border-width: 0 1px 1px 1px;

				@include breakpoint(848px) {
					border-width: 0 1px 1px 0;
				}
				@include breakpoint(1024px) {
					border-width: 0 1px 1px 1px;
				}
				@include breakpoint(1146px) {
					border-width: 0 1px 1px 0;
				}

				.panel-panel-inner {
					justify-content: center;
				}
			}
		}
	}

	.pane-uuid-fdb15536-fa5f-4729-bb0a-59deeb96268a,
	.pane-current-15 {
		display: inline-block;
		flex: 1 calc(40% - 1em);
		vertical-align: top;
		order: 1;
		font-size: 1em;
		padding: 0;

		@include breakpoint(768px) {
			font-size: 1.2em;
		}
		@include breakpoint(822px) {
			order: 0;
		}
		@include breakpoint(965px 1023px) {
			margin-right: 1em;
		}
		@include breakpoint(1303px) {
			margin-right: 1em;
		}

		li {
			line-height: 1.5;
		}
	}

	.pane-form,
	.pane-bwma-registration-form {
		display: block;
		background: #c9e0ff;
		padding: 15px;
		border-radius: 8px;
		border-color: #dddddd;
		border-style: solid;
		border-width: 1px;
		font-family: Arial, "Helvetica Neue", sans-serif;
		width: 100%;
		max-width: 434px;
		margin: auto;

		@include breakpoint(822px) {
			width: auto;
			margin-top: 1em;
		}

		.input-form-note {
			font-size: 0.8em !important;
		}

		.header-text {
			float: right;
			width: calc(100% - 170px);
			display: inline-block;

			.form-required {
				position: static;
			}
		}

		img {
			margin-bottom: 1em;
		}

		.form-item {
			position: relative;
			clear: both;

			label {
				display: block;
			}

			input {
				background: #ffffff;
				border-color: #cccccc;
				border-style: solid;
				border-width: 1px;
				font-size: 15px;
				padding-left: 8.75px;
				padding-right: 8.75px;
				border-radius: 4px;
				height: 35px;
				width: 100%;
			}

			select {
				background: #ffffff;
				border-color: #cccccc;
				border-style: solid;
				border-width: 1px;
				font-size: 15px;
				padding-left: 8.75px;
				padding-right: 8.75px;
				border-radius: 4px;
				height: 35px;
				width: 100%;
			}
		}
		.form-required {
			position: absolute;
			right: 15px;
			top: 30px;
			color: #D4696A;
		}

		.form-item-allow-text-message {
			display: block;

			input {
				width: auto;
			}
			label {
				display: inline;
			}
		}

		.footer-text {
			text-align: center;
		}

		input[id*="#dit-submit"] {
			border-radius: 4px;
			background-color: #66ab35;
			color: #ffffff;
			width: auto;
			font-weight: normal;
			font-style: normal;
			font-family: Arial, sans-serif;
			border-width: 1px;
			border-color: #275c02;
			border-style: solid;
			box-shadow: none;
			background: linear-gradient(to top, #4a7c27 , #85ca53);
			margin: 0 auto;
			display: block;
			margin-top: 1em;

			&:hover {
				opacity: .9;
				position: relative;
				top: -1px;
				transition: all 60ms ease-in-out 30ms;
			}
		}
	}

	.success-bwma-reg {	// The confirmation box
		display: block;
		background: #c9e0ff;
		padding: 15px;
		width: 100%;
		max-width: 434px;
		border-radius: 8px;
		border-color: #dddddd;
		border-style: solid;
		border-width: 1px;
		font-family: Arial, "Helvetica Neue", sans-serif;
		margin: 0 auto;
		color: #333;
		align-self: flex-start;
		margin-top: 1em;

		@include breakpoint(822px) {
			width: auto;
		}
	}
}
