.view-bwma-client-testimonials {
	.view-content {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
	}

	.views-row {
		position: relative;
		margin: 1em;

		.views-field-field-image-testimonial img {
			width: 100%;
		}

		.views-field-title {
			position: absolute;
			z-index: 2;
			bottom: 48px;
			width: calc(100% - 8px);
			text-align: center;
			padding: 5px;
			background-color: rgba(0, 0, 0, 0.5);
			color: white;
			margin-left: 4px;
		}

		.views-field-field-audio-testimonial {
			position: absolute;
			z-index: 2;
			left: 3px;
			right: 3px;
			bottom: 8px;

			audio {
				width: 100%;
			}
		}

		@include breakpoint(1024px) {
			margin: 0;
			margin-bottom: 1em;
			width: 100%;
		}
	}
}

.node-type-client-image-testimonial,
.node-type-client-video-testimonial,
.node-type-client-audio-testimonial{
	.pane-node-title {
		padding-bottom: 1em;
	}
}
