html[data-useragent*='iPhone OS'] {
	#wwm-special-2 {
		.empty { display: none; }

		.top-columns,
		.bottom-columns {
			display: block;
			width: 100%;
			max-width: 100%;

			> section {
				width: 100%;
				padding: 0 1%;
				max-width: 100%;
			}
		}
	}

	.field-type-datetime .form-item {
		@include breakpoint(0px 750px){
			display: inline-block !important;
		}
	}
}