#user-account-main-page {
	background-color: white;
	padding: 1em;
	border: 1px solid #c1c1c1;
	border-radius: 5px;

	.action-links li {
		list-style: none;
	}

	ul {
		margin: 0;
		padding: 0;

		li {
			list-style: none;
		}
	}
}

.views-table {
	width: 100%;
}

.pane-basic-user-info-for-user-account .field__label {
	width: 120px;
}
.pane-user-field-identification {
	width: 120px;
	float: left;

	&:after {
	    content: ':\00a0';
	}
}
.pane-user-roles {
  ul li {
    margin-left: 0;
    padding: 0; 
  }
  li.first {
    text-transform: capitalize;
  }
}

.field--name-field-phone-type {
	display: inline-block;
    font-weight: bold;
    width: 100px;

    .field__items {
    	display: inline-block;
    }

    &:after {
	    content: ':\00a0';
	}
}
.field--name-field-phone-number {
	display: inline-block;
}

.pane-content .field-collection-container {
    border-bottom: 0;
    margin-bottom: 0;
}

.field-collection-view {
    border: 1px dotted #D3D7D9;
    padding: 0.5em 1em;
    margin: 0;
}