main#main-content {
    background-color: transparent;
    padding: 0;
    border: 0;
    border-radius: 0;
}

hr {
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}

.pane-content-area-bwmassoc {
    display: flex;
    flex-flow: row wrap;
}

.radix-bryant .row .pane-content-area-bwmassoc {
    padding: 0;
    position: relative;
}

.pane-node-title {
    flex: 1 0 100%;
}

.pane-node-body {
    flex: 100%;
    display: inline-block;
    z-index: 2;
    padding: 0 1em;

    @include breakpoint(768px) {
        flex: 0 66%;
        padding: 0;
    }

    .field__item>h1 {
        margin-top: 0;
        width: 150%;

        a {
            color: #0355a3;
            text-decoration: none;
        }
    }
}

.pane-node-field-featured-image,
.girl-on-phone {
    z-index: -1;
    right: 0;
    bottom: 0;
    max-width: 40%;
    max-height: 737px;
    position: absolute;
    display: none;

    @include breakpoint(768px) {
        display: block;
    }

    .field__items {
        img {
            width: 100%;
            vertical-align: bottom;
            height: auto;
        }
    }
}
.pane-node-field-featured-image {
	z-index: 0;
}

div[alt="Compare Home"] {
    max-width: 255px;
    flex: 1;
}

img[alt="Compare Home"] {
    float: left;
    width: 100%;
    height: auto;

    @include breakpoint(1024px) {
        width: 100%;
    }
}

.text-info {
    flex: 1 1 65%;
    display: flex;
    flex-flow: row wrap;

    ul {
        margin: 0;
        padding: 0;
        flex: 100%;

        li {
            display: flex;
            align-items: center;
            font-size: 14px;
            font-weight: bold;
            line-height: 1;
            margin-bottom: 2px;

            img {
                width: 20px;
                height: auto;
            }

            @include breakpoint(568px) {
                font-size: 18px;

                img {
                    width: 24px;
                }
            }

            @include breakpoint(817px) {
                font-size: 24px;

                img {
                    width: auto;
                }
            }
        }
    }
}

#conventional,
#supersaver {
    h2,
    h3 {
        margin: 0;
    }

    >.content {
        display: flex;
        align-items: center;

        >.media {
            flex: 0 1 255px;
        }

        li p {
            margin: 0;
            white-space: nowrap;
        }
    }
}

#cta1 {
    margin: 0.5em 0;
    padding: 0 1em;
    width: 100%;
    padding: 0 1em;

    @include breakpoint(768px) {
    	width: calc(152% - 2px);
    	padding: 0 17%;
    }

    h2 {
        margin: 0;
    }
    p {
        margin: 0;
    }
}

.saved-nothing {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    background: #ec1f27;
    padding: 9px 15px;
    border-radius: 75px;
    margin: 1em auto;
    display: table;
    clear: both;
    margin-bottom: 0;
    border: solid #BDBDBD 1px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);

    &:hover {
        background: #ce1d24;
        border: solid #BDBDBD 1px;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5) inset;
    }

    a {
        color: #fff;
    }
}
.saved {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    background: #00ad31;
    padding: 9px 15px;
    border-radius: 75px;
    margin: 1em auto;
    display: table;
    clear: both;
    margin-bottom: 0;
    border: solid #BDBDBD 1px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);

    &:hover {
        background: #028627;
        border: solid #BDBDBD 1px;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5) inset;
    }

    a {
        color: #fff;
    }
}
.calculate-savings {
    color: #fff;
    font-weight: 600;
    background: #017cca;
    padding: 9px 15px;
    border-radius: 20px;
    margin: 0 0 0.5em 0;
    display: table;
    text-decoration: none;
    clear: both;
    border: solid #BDBDBD 1px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);

    &:hover {
        background: #2D56ED;
        border: solid #BDBDBD 1px;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5) inset;
    }

    &:before {
        font-family: FontAwesome;
        margin-right: 5px;
    }
}