// @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

html {
	font-size: 16px;
	font-family: sans-serif;
}
body {
	background-color: #f2fafe;
	margin: 0;

  &.not-logged-in {
    #block-panels-mini-header-bwmassoc-com {
      margin-bottom: 1em;
    }
  }
}

.l-region--header,
.l-main,
.l-footer {
	max-width: 1360px;
	margin: 0 auto;
}

.l-branding {
	display: inline-block;
	width: 100%;
	background: #f2f2f2;
	box-shadow: rgb(224, 231, 235) 0px 3px 5px 5px;
	margin-bottom: 10px;

	.l-region--branding {
		max-width: 1360px;
		margin: 0 auto;
	}
}

.l-region--header,
.l-main,
.l-footer {
	padding: 0 1em;
}

h1 { 
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h2 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h3 { 
  display: block;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h4 { 
  display: block;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h5 { 
  display: block;
  font-size: .83em;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h6 { 
  display: block;
  font-size: .67em;
  margin-top: 2.33em;
  margin-bottom: 2.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

a {
  text-decoration: none;
}

.title-bar {
	display: flex;
	align-items: center;
  justify-content: flex-end;

	.page-title {
		flex: 1;
	}
}

.boxed {
  border: 1px solid #ccc;
  padding: 1em;
  margin: 1em 0;
  position: relative;
  border-radius: 5px;

  h2, h3 {
    position: absolute;
    margin: 0;
    top: -11px;
    background: white;
    padding: 0 1em;
    display: inline-block !important;
  }
}
