@font-face {
  font-family: 'pnb';
  src:url('../fonts/pnb');
  src: url('../fonts/pnb.eot') format('embedded-opentype'),
       url('../fonts/pnb.woff') format('woff'),
       url('../fonts/pnb.ttf') format('truetype'),
       url('../fonts/pnb.svg#pnb') format('svg');
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

html {
	font-size: 16px;
	font-family: sans-serif;
}
body {
	background-color: #f2fafe;
	margin: 0;
}

.l-region--header,
.l-main,
.l-footer {
	max-width: 1360px;
	margin: 0 auto;
}

.l-branding {
	display: inline-block;
	width: 100%;
	background: #f2f2f2;
	box-shadow: rgb(224, 231, 235) 0px 3px 5px 5px;
	margin-bottom: 10px;

	.l-region--branding {
		max-width: 1360px;
		margin: 0 auto;
	}
}