// @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

html {
	font-size: 16px;
	font-family: sans-serif;
}
body {
	background-color: #f2fafe;
	margin: 0;

  &.not-logged-in {
    #block-panels-mini-header-bwmassoc-com {
      margin-bottom: 1em;
    }
  }
}

html body.admin-menu {
  @include breakpoint(250px) {
    margin-top: 151px !important;
  }
  @include breakpoint(289px) {
    margin-top: 126px !important;
  }
  @include breakpoint(340px) {
    margin-top: 102px !important;
  }
  @include breakpoint(407px) {
    margin-top: 78px !important;
  }
  @include breakpoint(620px) {
    margin-top: 54px !important;
  }
  @include breakpoint(1084px) {
    margin-top: 29px !important;
  }

  .l-branding {
    &.floating-block-active {
      @include breakpoint(250px) {
        margin-top: 151px !important;
      }
      @include breakpoint(289px) {
        margin-top: 126px !important;
      }
      @include breakpoint(340px) {
        margin-top: 102px !important;
      }
      @include breakpoint(407px) {
        margin-top: 78px !important;
      }
      @include breakpoint(620px) {
        margin-top: 54px !important;
      }
      @include breakpoint(1084px) {
        margin-top: 29px !important;
      }
    }
  }
}

.l-region--header,
.l-main,
.l-footer {
	max-width: 1360px;
	margin: 0 auto;
}

.l-branding {
	display: inline-block;
	width: 100%;
	background: #f2f2f2;
	box-shadow: #cecece 0px 0px 3px 2px;
	margin-bottom: 10px;

  &.blockFloat-processed {
    z-index: 10;
    width: 100% !important;
  }

	.l-region--branding {
		max-width: 1360px;
		margin: 0 auto;
    position: relative;
	}
}

.l-region--header,
.l-main,
.l-footer {
	padding: 0 1em;
}

h1 { 
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h2 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h3 { 
  display: block;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h4 { 
  display: block;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h5 { 
  display: block;
  font-size: .83em;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h6 { 
  display: block;
  font-size: .67em;
  margin-top: 2.33em;
  margin-bottom: 2.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

a {
  text-decoration: none;
}

tr:nth-child(even) {
  background-color: #eeeeee;
}
tr:hover {
  background-color: #ffffdc;
}

th {
  text-align: center;
  padding: 5px;
  background-color: #c0eaff;
}
td {
  padding: 10px;
}

.title-bar {
	display: flex;
	align-items: center;
  justify-content: flex-end;

	.page-title {
		flex: 1;
	}
}

.boxed {
  border: 1px solid #ccc;;
  padding: 1em;
  margin: 1em 0;
  position: relative;
  border-radius: 5px;

  .pane-title {
    position: absolute;
    margin: 0;
    background: white;
    padding: 0 1em;
    display: inline-block !important;
  }
  h2.pane-title {
    top: -13px;
    font-size: 1.3em;
  }
  h3.pane-title {
    top: -11px;
  }

  .ctools-toggle {
    position: absolute;
    top: -10px;
    z-index: 1;
  }
}

table {
  width: 100%;
}

input[type="radio"] {
  margin: 0;
}

div.vertical-tabs {
  background: white;
  padding-bottom: 1em;
}

ul.breadcrumb {
  list-style: none;
  display: inline-block;
  margin-bottom: 0;

  li {
    float: left;
    padding-right: 10px;
    line-height: 30px;
    height: 30px;
    padding-left: 10px;
    margin-left: 13px;
    background: #1894c7;
    position: relative;

    &:first-child {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;

      &:before, &:hover:before {
        border: 0;
      }
    }

    &:before {
      width: 0px;
      height: 0px;
      border-left: 10px solid transparent;
      border-top: 15px solid #1894c7;
      border-right: 10px solid #1894c7;
      border-bottom: 15px solid #1894c7;
      content: "";
      position: absolute;
      left: -10px;
    }
    &:after {
      content: "";
      position: absolute;
      left: 100%;
      width: 0;
      height: 15px;
      border-top: 15px solid transparent;
      border-left: 10px solid #1894c7;
      border-bottom: 15px solid transparent;
    }

    &:hover {
      background: #0355a3;

      &:before {
        border-top: 15px solid #0355a3;
        border-right: 10px solid #0355a3;
        border-bottom: 15px solid #0355a3;
      }
      &:after {
        border-left: 10px solid #0355a3;
      }
    }

    a {
      color: white;
    }
  }
}

.pane-node-links {
  img {
    display: inline-block; 
    height: 1em;
    width: auto;
  }
}
